<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div ui-view="events-members-content"></div>
    </div>
    <div class="col-md-3">
      <div ui-view="events-members-sidebar"></div>
    </div>
  </div>
</div>
