.empty-events-list {

  &__calendar {
    display: block;
    margin: 0 auto;
    width: 150px !important;
    height: 150px !important;
    opacity: 0.75;
  }

  &__caption {
    font-size: 18px;
    padding-top: 15px;
  }

}
