<div class="panel panel-body text-center">
  <img class="empty-events-list__calendar" src="assets/images/calendar.png"/>
  <p class="empty-events-list__caption"><em>Unfortunately, available events list is empty. Check it out soon!</em></p>
</div>
