
.material-tags .tags {
  border: 1px solid #ccc;
  border-radius: 3.01px;
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
  vertical-align: baseline;
  width: 100%;
}

.material-tags .tags.focused {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.material-tags .tags .tag-item {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3.01px;
  box-shadow: none;
  color: #333;
  font-size: 13px;
}

.material-tags .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 2px;
  color: #fff;
}

.material-tags .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}
