<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-5">
        <knbit-events-choosing-term-preview-term term="vm.details"></knbit-events-choosing-term-preview-term>
      </div>

      <div class="col-md-7">

        <div class="form-group">
          <tags-input
            class="material-tags"
            ng-model="vm.details.lecturers"
            display-property="name"
            add-on-paste="true"
            placeholder="Add lecturer"
            replace-spaces-with-dashes="false">
              <auto-complete
                display-property="name"
                min-length="1"
                source="vm.queryForLecturer($query)">
              </auto-complete>
          </tags-input>
        </div>

        <div class="form-group">
          <input class="form-control floating-label text-center" type="number" min="1"
                 ng-model="vm.details.participantsLimit"
                 placeholder="Participants limit"
                 required>
        </div>

      </div>

    </div>

  </div>
</div>
