<div class="container">
  <knbit-events-announcement-new-configuration-toolbar publishers-with-actions="ctrl.publishersWithActions">
  </knbit-events-announcement-new-configuration-toolbar>

  <knbit-events-announcement-configuration-list configurations-with-callbacks="ctrl.configurationsWithCallbacks">
  </knbit-events-announcement-configuration-list>
</div>
