<div>

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Event Proposal</strong>
    </h3>
  </div>


  <div class="modal-body">

    <article>
      <h1>
      <span>
        {{ctrl.eventProposal.name}}
      </span>
      </h1>

      <div class="well">
        <p>
        <span>
          {{ctrl.eventProposal.description}}
        </span>
        </p>

        <p>
        <span class="label label-primary">
          {{ctrl.eventProposal.eventType}}
        </span>

        </p>
      </div>
    </article>

    <div class="btn-group ng-cloak ng-hide" ng-show="ctrl.isProposalPending()">
      <button class="btn btn-success" ng-click="ctrl.accept()">Accept</button>
      <button class="btn btn-default" ng-click="ctrl.reject()">Reject</button>
    </div>

  </div>

</div>
