<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Choosing Term Details</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form id="terms-form" ng-submit="vm.submit()">

      <knbit-events-choosing-term-start-choosing-term-list terms="vm.terms">
      </knbit-events-choosing-term-start-choosing-term-list>

    </form>

  </div>

  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="submit" form="terms-form" class="btn btn-primary">Submit</button>
  </div>

</div>
