<div>
  <p>
    <span><strong>{{vm.formattedDate()}}</strong></span>
  </p>

  <p>
    <span>{{vm.startTime()}} - {{vm.endTime()}}</span>
  </p>

  <p ng-if="vm.shouldDisplayLocation()">
    <span><i>{{vm.term.location}}</i></span>
  </p>

  <div ng-if="vm.shouldDisplayCapacity()">
    <br/>

    <p>
      <span>Capacity: </span>
      <span>{{vm.term.capacity}}</span>
    </p>
  </div>
</div>
