<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Answering question</strong>
    </h3>
  </div>

  <div class="modal-body">
    <br/><br/>

    <form ng-submit="ctrl.answerQuestion()">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="label label-success">{{ctrl.question.eventName}}</span>
          </h3>
        </div>
        <div class="panel-body">

          <blockquote>
            <h4><i>{{ctrl.question.topic}}</i></h4>
            <h5>{{ctrl.question.content}}</h5>
            <footer>{{ctrl.question.email}}</footer>
          </blockquote>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="form-group form-group-with-margins col-md-12 col-sm-12">
          <textarea ng-model="ctrl.answer" class="form-control floating-label" rows="4"
                    placeholder="Answer" data-hint="Specify your answer here" required></textarea>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Answer</button>
      </div>

    </form>

  </div>

</div>
