<div ng-repeat="configurationWithCallbacks in ctrl.configurationsWithCallbacks" class="col-sm-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <button type="button" class="close" ng-click="configurationWithCallbacks.removeCallback()">
        ×
      </button>

      <knbit-events-announcement-configuration-overview configuration="configurationWithCallbacks.configuration"
                                                        on-details-requested="configurationWithCallbacks.editCallback()">
      </knbit-events-announcement-configuration-overview>
    </div>
  </div>
</div>
