<div class="modal-header">
    <h1 class="modal-title">Create new section</h1>
</div>
<div class="modal-body">
    <formly-form model="createSection.form" fields="createSection.fields" form="createSectionForm"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="createSection.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="createSection.create()"
            ng-disabled="createSectionForm.$invalid">Create
    </button>
</div>
