
.section-bar {
  $imagePathPrefix: "../assets/images/sections/";
  $bar-width: 50px;
  $logo-width: $bar-width - 2px;

  // TODO: move elsewhere
  $color-none: rgb(54, 54, 54);
  $color-if: rgb(31, 155, 206);
  $color-algo: rgb(103, 47, 126);
  $color-ai: rgb(194, 66, 67);
  $color-dotnet: rgb(119, 221, 119);
  $color-agk: rgb(10, 122, 185);
  $color-events: rgb(237, 8, 143);
  $color-grafika: rgb(25, 28, 79);
  $color-infra: rgb(103, 55, 40);

  $sections: (
      ('none', $color-none, 'none.jpg'),
      ('if', $color-if, 'if.png'),
      ('algo', $color-algo, 'algo.png'),
      ('ai', $color-ai, 'ai.png'),
      ('dotnet', $color-dotnet, 'dotnet.png'),
      ('agk', $color-agk, 'agk.png'),
      ('events', $color-events, 'events.png'),
      ('grafika', $color-grafika, 'grafika.png'),
      ('infra', $color-infra, 'infra.png')
  );

  @each $section in $sections {
    &__#{nth($section, 1)} {
      position: relative;

      &::before {
        position: absolute;
        display: block;
        width: $bar-width;
        height: 100%;
        content: "";
        background: #{nth($section, 2)} url($imagePathPrefix + nth($section, 3)) no-repeat center center;
        background-size: $logo-width;
      }
    }
  }

}
