.vote-action-row {
  display: table;
  table-layout: fixed;
  margin-bottom: 5px;

  .people-want-it {
    color: #e74c3c;
    display: table-cell;
    vertical-align: middle
  }
}

.event-panel-row {
  margin-left: 50px;
}

.voted-up {
  color: #54AC4D;
  font-weight: bold;
}

.voted-down {
  color: #e74c3c;
  font-weight: bold;
}

.survey-event-name {
  display: inline-block;
  margin-top: 0;
}

.ask-event-master {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.no-padding {
  padding-left: 0 !important;
}

.left-checkmark {
  margin-right: 5px;
  cursor: pointer
}

.right-checkmark {
  margin-left: 5px;
  cursor: pointer
}
