<div class="panel" knbit-events-section-bar="vm.event.section">
  <knbit-events-ask-event-master event-name="{{vm.event.name}}" class="ask-event-master">
    <i class="mdi-communication-messenger"></i>
  </knbit-events-ask-event-master>

  <div class="panel-body">
    <div class="event-panel-row col-sm-10 col-md-10 no-padding">
      <div class="col-sm-9 col-md-9 no-padding">
        <h4 class="survey-event-name">
          <strong>{{vm.event.name}}</strong>
        </h4>
      </div>

      <knbit-events-member-survey-already-voted ng-if="vm.event.voted"
                                                vote="{{vm.event.voted}}"
                                                class="pull-right">
      </knbit-events-member-survey-already-voted>
    </div>


    <div class="event-panel-row col-sm-10 col-md-10 no-padding" ng-if="!vm.event.voted">
      <div class="vote-action-row col-sm-4 col-md-4 no-padding">
        <span class="people-want-it">
          {{vm.event.votedUp}} people want it
        </span>
      </div>

      <div class="pull-right">
        <knbit-events-member-checkmark
          text="I want it!"
          type="POSITIVE"
          size="LARGE"
          ng-click="vm.voteUp(vm.event)"
          class="left-checkmark">
        </knbit-events-member-checkmark>

        <knbit-events-member-checkmark
          text="Not interested"
          type="NEGATIVE"
          size="LARGE"
          ng-click="vm.voteDown(vm.event)"
          class="right-checkmark">
        </knbit-events-member-checkmark>
      </div>
    </div>

    <div class="col-sm-10 col-md-10 event-panel-row no-padding" style="padding-top: 10px">
      <knbit-events-member-event-image
        url="{{ vm.event.imageUrl }}"
        ng-if="vm.event.imageUrl">
      </knbit-events-member-event-image>
      <em>{{vm.event.description}}</em>
    </div>

  </div>
</div>

