<div class="panel" knbit-events-section-bar="ed.event.section">

  <span ng-if="ed.isEnrolled()" class="vote-resume pull-right">
    <knbit-events-member-checkmark
      text="Yes"
      size="LARGE"
      type="POSITIVE">
    </knbit-events-member-checkmark>
  </span>

  <div class="panel-body left-indent-50">
    <h4 style="margin-top: 0;"><strong>{{ ed.event.name }}</strong></h4>

    <knbit-events-member-event-image
      url="{{ ed.event.imageUrl }}"
      ng-if="ed.event.imageUrl">
    </knbit-events-member-event-image>
    <em>{{ ed.event.description }}</em>

  </div>
</div>

<div class="left-indent-50">
  <knbit-events-member-term-preview-under-term-choosing
    ng-repeat="term in ed.event.terms"
    term="term"
    allowed-to-enroll="!ed.isEnrolled()"
    enroll="ed.enrollCallbackFor(termId)"
    disenroll="ed.disenrollCallbackFor(termId)">

  </knbit-events-member-term-preview-under-term-choosing>
</div>
