<div class="container">
    <form>
        <h1 class="page-header">Change password</h1>

        <div class="alert alert-danger" ng-show="passwordChange.requestFailed">
            {{ passwordChange.requestFailedMessage }}
        </div>
        <div class="alert alert-success" ng-show="passwordChange.requestSuccessful">
            {{ passwordChange.requestSuccessfulMessage }}
        </div>

        <formly-form model="passwordChange.form" fields="passwordChange.fields" form="passwordChangeForm">

            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="passwordChangeForm.$invalid"
                        ng-click="passwordChange.changePassword()">Change password
                </button>
            </div>
        </formly-form>
    </form>
</div>
