<!-- Another admin panel menu should be provided. This it temporary hack -->
<a ng-if-start="isEventMaster" href="" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
<ul ng-if-end class="dropdown-menu">
  <li><a ui-sref="events.members.content.dashboard">Members' view</a></li>
  <li><a ui-sref="events.eventmaster">Management view</a></li>
</ul>
<a ng-if="!isEventMaster" ui-sref="events.home">Events</a>
