<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label" for="date">
    End of surveying date:
  </label>

  <div id="date" class="col-sm-9">
    <div class="input-group">
      <input type="text"
             name="endOfSurveying"
             class="form-control"
             style="text-align: center;"
             on-change="vm.onEndOfSurveyingChanged(date)"
             date-picker date="vm.endOfSurveying"
             min-date="today"
             required>

      <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
    </div>
  </div>
</div>
