<form class="form-horizontal" ng-submit="edit.save()">
  <fieldset>
    <legend>Basic</legend>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">First name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" disabled required ng-model="edit.form.user.first_name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Last name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" disabled required ng-model="edit.form.user.last_name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Department name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" disabled required ng-model="edit.form.user.department_name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Index number</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" disabled required ng-model="edit.form.user.index_number">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Start of studies</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" disabled required ng-model="edit.form.user.start_of_studies_year">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Signed at</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" disabled required ng-model="edit.form.created_at | date: 'medium'">
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Inauguration feedback</label>
      <div class="col-lg-10">
        <textarea ng-model="edit.form.inauguration_feedback" rows="3" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Notes</label>
      <div class="col-lg-10">
        <textarea ng-model="edit.form.notes" rows="3" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Projects</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 5px; padding-bottom: 10px;" ng-repeat="enrollment in edit.form.enrollments">
          <label>
            <input type="checkbox" ng-model="enrollment.accepted">
            <span style="margin-left: 5px;">
              {{ enrollment.project.name }}
              <small ng-if="::enrollment.team_leader">(wannabe teamleader)</small>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Team leader</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 5px; padding-bottom: 10px;" ng-repeat="enrollment in edit.form.enrollments">
          <label>
            <input type="checkbox" ng-model="enrollment.team_leader">
            <span style="margin-left: 5px;">
              {{ enrollment.project.name }}
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Meeting time</label>
      <div class="col-lg-10" style="padding-top: 6px;">
        You have scheduled the meeting for
        <strong>
          {{ edit.form.meeting_time.start_time | date: 'dd.MM (EEEE), HH:mm' }}.
        </strong>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default" ui-sref="projects.enrollments.index">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
