<div style="margin-bottom: 15px;">
  <div class="pull-left">
    <a ui-sref="projects.enrollments.time_slots" class="btn btn-raised btn-primary pull-left">Time slots</a>
  </div>

  <div class="pull-right">
    <div class="input-group pull-left" style="max-width: 225px; margin-right: 15px; margin-top: 12px;">
      <span class="input-group-addon"><i class="mdi-action-search"></i></span>
      <input type="text" placeholder="search" class="form-control" ng-model="index.search">
    </div>
    <div class="btn-group">
      <a class="btn" ng-repeat="status in index.statuses" ng-class="{ 'btn-primary': status == index.status, 'btn-default': status != index.status }" ng-click="index.setStatus(status)">{{ status }}</a>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Projects</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="form in index.forms | orderBy: 'created_at' | filter: { user: {name: index.search }}" style="vertical-align: middle;">
      <td style="vertical-align: middle;">{{ form.id }}</td>
      <td style="vertical-align: middle;">{{ form.user.first_name }} {{ form.user.last_name }}</td>
      <td style="vertical-align: middle;">{{ index.accepted(form) }}/{{ form.enrollments.length }}</td>
      <td style="vertical-align: middle; width: 50%;">{{ form.notes }}</td>
      <td style="vertical-align: middle;"><a ui-sref="projects.enrollments.edit({ id: form.id })" class="btn btn btn-sm" style="margin: 0;">Edit</a></td>
    </tr>
  </tbody>
</table>

<!-- <div class="panel panel-default" style="border: 1px solid #ddd; box-shadow: none;">
  <div class="panel-heading">
    {{ form.user.name }}
  </div>
  <div class="panel-body" style=""> -->

    <!-- <div class="row">
      <p>Signed for 5 projects</p>
      <p>Assigned to 3 projects</p>
      <p>Notes: asda</p>
      <div class="col-md-4">
        <h4>{{ form.enrollments.length }} projects</h4>
        <div class="checkbox" style="padding-left: 15px;" ng-repeat="enrollment in form.enrollments">
          <label>
            <input type="checkbox"> <span style="margin-left: 5px;">{{ index.findProject(enrollment.project_id).name }}</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Notes</h5>
        <textarea placeholder="..." class="form-control" rows="3"></textarea>
      </div>
      <div class="col-md-4">
        <a ui-sref="projects.show({ id: project.id })" class="btn btn-primary">Save</a>
        <a ui-sref="projects.edit({ id: project.id })" class="btn btn">Cancel</a>
      </div>
    </div> -->
<!--   </div>
</div>
 -->
