<h3>Time slots</h3>

<div style="margin-top: 20px;" ng-repeat="dayTimeSlots in time_slots.flatten_time_slots">
  <h4>{{ dayTimeSlots[0] | date: 'mediumDate' }}</h4>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Person</th>
        <th>Start time</th>
        <th>End time</th>
        <th></th>
      </tr>
    </thead>
    <tr ng-repeat="time_slot in dayTimeSlots[1] | orderBy: 'start_time'" ng-init="form = time_slot.application_form" ng-if="!time_slot.forEdit">
      <td>{{ $index + 1 }}</td>
      <td>
        <span ng-if="form">
          <a ui-sref="projects.enrollments.edit({ id: form.id })">{{ form.user.first_name }} {{ form.user.last_name }}</a>
        </span>
      </td>
      <td>{{ time_slot.start_time | date: 'HH:mm' }}</td>
      <td>{{ time_slot.end_time | date: 'HH:mm' }}</td>
      <td><a class="btn btn btn-sm" style="margin: 0;" ng-click="time_slots.delete(time_slot)">Remove</a></td>
    </tr>
    <tr ng-repeat="time_slot in dayTimeSlots[1]" ng-if="time_slot.forEdit">
      <td></td>
      <td></td>
      <td>
        <select ng-model="time_slot.start_time" ng-options="option as (option | date: 'HH:mm') for option in time_slot.available_start_times"></select>
      </td>
      <td></td>
      <td><a class="btn btn btn-sm" style="margin: 0;" ng-click="time_slots.saveTimeSlot(time_slot)">Save</a></td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: center;">
        <a class="btn btn btn-sm" ng-click="time_slots.addTimeSlot(dayTimeSlots[0])" style="margin: 0;">Add time slot</a>
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div ng-if="time_slots.newDay" class="col-md-6">
    <h3>New day</h3>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Date</label>
        <input type="date" ng-model="time_slots.newDay.start_date" class="form-control" />
      </div>
      <div class="form-group" ng-show="time_slots.newDay.start_date">
        <label for="exampleInputPassword1">Start time</label>
        <select ng-model="time_slots.newDay.start_time" ng-options="option as (option | date: 'HH:mm') for option in time_slots.newDayAvailableStartTimes" class="form-control"></select>
      </div>
      <div class="form-group" ng-show="time_slots.newDay.start_time">
        <label for="exampleInputPassword1">End time</label>
        <select ng-model="time_slots.newDay.end_time" ng-options="option as (option | date: 'HH:mm') for option in time_slots.newDayAvailableStartTimes" class="form-control"></select>
      </div>
    </form>

    <a class="btn btn-primary" ng-click="time_slots.saveDay()" ng-show="time_slots.newDay.end_time">Save</a>
  </div>
</div>

<div ng-if="!time_slots.newDay">
  <a class="btn btn-primary" ng-click="time_slots.addDay()">Add day</a>
</div>

<style>
  table tr td { vertical-align: middle !important; }
</style>
