<div class="container">

  <knbit-events-event-details event-name="{{ rd.event.name }}"
                              event-description="{{ rd.event.description }}"
                              event-type="{{ rd.event.eventType }}"
                              image-url="{{ rd.event.imageUrl }}"
                              section="rd.event.section">
  </knbit-events-event-details>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Term</h3>
    </div>
    <div class="panel-body">
      <knbit-events-term-preview term-details="rd.event.term"></knbit-events-term-preview>
    </div>
  </div>

</div>
