<div class="panel panel-primary">
  <div class="panel-body text-center">

    <div class="col-md-offset-4 col-md-4">
      <knbit-events-term-progress-preview term="vm.termDetails"></knbit-events-term-progress-preview>
    </div>

  </div>

  <div class="panel-footer text-center">
    <div ng-click="vm.showAttendees = !vm.showAttendees">
      <span class="glyphicon glyphicon-chevron-down"></span> Attendees
    </div>
    <div ng-slide-down="vm.showAttendees" lazy-render duration="1">
      </br>
      <div class="row">
        <div class="col-sm-3" ng-repeat="attendee in vm.termDetails.participants">
          <knbit-events-attendee-preview attendee="attendee"></knbit-events-attendee-preview>
        </div>
      </div>
    </div>
  </div>

</div>
