<div class="modal-header">
    <h2 class="modal-title">Update role with selected permissions</h2>
</div>
<br>
<div class="modal-body">
    <label>Previous permissions:</label>
    <textarea rows="3" class="form-control" ng-readonly="true"
              ng-model="updateRole.previousPermissionsFormatted"></textarea>
    <label>New permissions:</label>
    <textarea rows="3" class="form-control" ng-readonly="true" ng-model="updateRole.permissionsFormatted"></textarea>
    <label>Previous role name:</label>
    <input type="text" class="form-control" ng-readonly="true" ng-model="updateRole.previousRoleName">
    <br/>
    <formly-form model="updateRole.form" fields="updateRole.fields" form="updateRoleForm"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="updateRole.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="updateRole.updateRole()"
            ng-disabled="updateRoleForm.$invalid || updateRole.permissions.length == 0">update
    </button>
</div>
