<div>

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Ask Event Master!</strong>
    </h3>
  </div>

  <form role="form" class="form-horizontal" ng-submit="vm.askQuestion()">

    <div class="modal-body">

      <br/>

      <div>
        <p>Here you can ask Event Master anything related to <strong>{{vm.question.eventName}}</strong>.</p>

        <p>Make sure you specify your Email correctly so that you could expect reply.</p>
      </div>

      <div>
        <div class="form-group form-group-with-margins">
          <div class="col-md-6 col-sm-6">
            <input ng-model="vm.question.topic" class="form-control floating-label"
                   placeholder="Topic" data-hint="Type your question topic here" required>
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="email" ng-model="vm.question.email" class="form-control floating-label"
                   placeholder="Email" data-hint="Specify correct email address here" required>
          </div>
        </div>

        <div class="form-group form-group-with-margins col-md-12 col-sm-12">
          <textarea ng-model="vm.question.content" class="form-control floating-label" rows="4"
                    placeholder="Question" data-hint="Specify your question here" required></textarea>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Ask!</button>
    </div>
  </form>

</div>
