<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>{{vm.confirmationTitle}}</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <span>
      {{vm.confirmationMessage}}
    </span>

    <div class="modal-footer">
      <button type="reset" class="btn btn-default" ng-click="vm.cancel()">{{vm.cancelCaption}}</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.confirm()">{{vm.confirmCaption}}</button>
    </div>
  </div>
</div>
