<div ng-repeat="answer in question.answers" class="checkbox checkbox-primary">
  <label>
    <input type="checkbox"
           ng-click="modal.markMultipleChoiceAnswer(question, answer)"
           value="{{answer}}"
           name="{{question}}">
    {{answer}}
  </label>
</div>
