<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Questionnaire</strong>
    </h3>
  </div>

  <div class="modal-body">
    <br/><br/>

    <form ng-submit="modal.submit()">

      <div ng-repeat="question in modal.event.questions" class="panel panel-default">
        <div class="panel-heading">{{question.title}}</div>
        <div class="panel-body">
          <p><em>{{question.description}}</em></p>
          <ng-switch on="question.type">

            <div ng-switch-when="SINGLE_CHOICE">
              <div ng-include="'app/events/member/survey/event/questionnaire/single-choice.html'"></div>
            </div>

            <div ng-switch-when="MULTIPLE_CHOICE">
              <div ng-include="'app/events/member/survey/event/questionnaire/multiple-choice.html'"></div>
            </div>

            <div ng-switch-when="TEXT">
              <div ng-include="'app/events/member/survey/event/questionnaire/text-choice.html'"></div>
            </div>

          </ng-switch>
        </div>
      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

  </div>

</div>
