<div ng-repeat="answer in question.answers" class="radio radio-primary">
  <label>
    <input type="radio"
           ng-click="modal.markSingleChoiceAnswer(question, answer)"
           value="{{answer}}"
           name="{{question}}">
    {{answer}}
  </label>
</div>
