<div ng-controller="MemberAnswerCtrl as answerCtrl">
  <textarea ng-model="answerCtrl.answer" ng-change="modal.markTextChoiceAnswer(question, answerCtrl.answer)"
            ng-required="true" class="form-control" rows="1"></textarea>
</div>
