$color-lightGrey: rgb(216, 216, 216);
$color-darkGrey: rgb(51, 51, 51);

$color-if: rgb(31, 155, 206);
$color-algo: rgb(103, 47, 126);
$color-ai: rgb(194, 66, 67);
$color-dotnet: rgb(119, 221, 119);
$color-sfi: rgb(255, 179, 71);
$color-section-default: rgb(113, 113, 113);
