<div class="container-fluid">

    <h1 class="page-header">Manage users</h1>

    <div class="alert alert-danger" ng-show="userManager.commandFailed">
        {{ userManager.commandFailedMessage }}
    </div>
    <h3>BIT Candidates: {{userManager.candidates.length}}</h3>

    <div ng-show="userManager.candidates.length > 0">
        <div class="input-group input-group-md">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search ..." ng-model="candidatesSearch"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href ng-click="userManager.activateSelectedCandidates()">Accept selected</a></li>
                    <li><a href ng-click="userManager.removeSelectedCandidates()">Reject selected</a></li>
                    <li><a href ng-click="userManager.composeEmailToSelected(userManager.candidates)">Email selected</a></li>
                </ul>
            </div>
        </div>
        <br>
        <table st-table="candidatesToDisplay" st-watch-search-model="candidatesSearch"
               st-safe-src="userManager.candidates" class="table table-striped">
            <tr>
                <th>
                    <st-row-select-all all="userManager.candidates"></st-row-select-all>
                </th>
                <th st-sort="firstName">First name</th>
                <th st-sort="lastName">Last name</th>
                <th st-sort="email">Email</th>
                <th st-sort="state">State</th>
                <th st-sort="indexNumber">Index number</th>
                <th st-sort="departmentName">Department name</th>
                <th st-sort="startOfStudiesYear">Start of studies year</th>
                <th st-sort="declarationSubmitDate">Date of declaration submit</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="candidate" st-select-mode="multiple" ng-repeat="candidate in candidatesToDisplay">
                <td>
                    <st-row-select-single ng-model="candidate.isSelected"></st-row-select-single>
                </td>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.state}}</td>
                <td>{{candidate.indexNumber}}</td>
                <td>{{candidate.departmentName}}</td>
                <td>{{candidate.startOfStudiesYear}}</td>
                <td>{{candidate.declarationSubmitDate | date:"dd-MM-yyyy"}}</td>
            </tr>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="7" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
    <hr/>

    <h3>BIT Members: {{ userManager.members.length }}</h3>

    <div ng-show="userManager.members.length > 0">
        <div class="input-group input-group-md">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search ..." ng-model="membersSearch"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href ng-click="userManager.composeEmailToSelected(userManager.members)">Email selected</a></li>
                </ul>
            </div>
        </div>
        <br>
        <table st-table="membersToDisplay" st-watch-search-model="membersSearch"
               st-safe-src="userManager.members" class="table table-striped">
            <tr>
                <th>
                    <st-row-select-all all="userManager.members"></st-row-select-all>
                </th>
                <th st-sort="firstName">First name</th>
                <th st-sort="lastName">Last name</th>
                <th st-sort="email">Email</th>
                <th st-sort="state">State</th>
                <th st-sort="indexNumber">Index number</th>
                <th st-sort="departmentName">Department name</th>
                <th st-sort="startOfStudiesYear">Start of studies year</th>
                <th st-sort="declarationSubmitDate">Date of declaration submit</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="member" st-select-mode="multiple" ng-repeat="member in membersToDisplay">
                <td>
                    <st-row-select-single ng-model="member.isSelected"></st-row-select-single>
                </td>
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.email}}</td>
                <td>{{member.state}}</td>
                <td>{{member.indexNumber}}</td>
                <td>{{member.departmentName}}</td>
                <td>{{member.startOfStudiesYear}}</td>
                <td>{{member.declarationSubmitDate | date:"dd-MM-yyyy"}}</td>
            </tr>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="8" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
</div>
