<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggle()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-home"></span> KN BIT
            </div>
        </div>

        <div class="collapse navbar-collapse" collapse="collapsed">
            <ul class="nav navbar-nav">
                <!--li ui-sref-active="active"><a ui-sref="home.index">Home</a></li-->
                <!--<li ui-sref-active="active"><a ui-sref="projects.index">Projects</a></li>
                <li ui-sref-active="active" ng-include="'app/components/navbar/partials/events-menu.partial.html'"></li>
                <li ui-sref-active="active"><a ui-sref="timeline.semesters.last">Timeline</a></li-->
                <li ui-sref-active="active"><a ui-sref="sections.overview">Sections</a></li>
                <li ui-sref-active="active"><a ui-sref="projects.application_forms.current">Enrollment</a></li>
                <li ui-sref-active="active" has-permission="PROJECTS_ENROLL"><a ui-sref="projects.index">Projects</a></li>
            </ul>
            <div ng-controller="LoginStateCtrl">
                <div ng-show="loggedIn">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="isEventMaster" ng-include="'app/components/notification-bar/partial/notification-bar.html'"></li>
                        <li ng-include="'app/components/user-menu/partial/user-menu.html'"></li>
                    </ul>
                </div>
                <div ng-hide="loggedIn">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="members.register" style="background-color: #2e6da4">Register</a></li>
                        <li><a ui-sref="members.login">Sign in</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <toaster-container></toaster-container>
</nav>
