<form class="form-horizontal">
  <div class="row">
    <div class="col-lg-9">
      <fieldset>
        <legend>Basic</legend>

        <div class="form-group">
          <label for="inputName" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" ng-model="edit.project.name" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="8" id="inputDescription" ng-model="edit.project.description"></textarea>
            <span class="help-block">Detailed project description.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default" ui-sref="projects.index">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="edit.save()">Submit</button>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-lg-3">
      <fieldset>
        <legend>Status</legend>
        <div class="radio radio-success">
          <label>
            <input type="radio" name="status" value="not_started" ng-model="edit.project.status">
            Not started
          </label>
        </div>
        <div class="radio radio-success">
          <label>
            <input type="radio" name="status" value="in_progress" ng-model="edit.project.status">
            In progress
          </label>
        </div>
        <div class="radio radio-success">
          <label>
            <input type="radio" name="status" value="archived" ng-model="edit.project.status">
            Archived
          </label>
        </div>
      </fieldset>
    </div>
  </div>

      <fieldset>
        <legend>Users</legend>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Team Leader</td>
              <td>Accepted</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="enrollment in edit.project.enrollments" ng-class="{ info: enrollment.accepted }">
              <td>{{ $index }}</td>
              <td ng-if="!enrollment.application_form_id">{{ enrollment.user.first_name }} {{ enrollment.user.last_name }}</td>
              <td ng-if="enrollment.application_form_id">
                <a ui-sref="projects.enrollments.edit({ id: enrollment.application_form_id })">{{ enrollment.user.first_name }} {{ enrollment.user.last_name }}</a>
              </td>
              <td>{{ enrollment.team_leader ? 'Yes' : 'No' }}</td>
              <td>{{ enrollment.accepted ? 'Yes' : 'No' }}</td>
            </tr>
          </tbody>
        </table>
      </fieldset>
</form>
