<div style="margin-bottom: 15px;">
  <div class="pull-left">
    <a ui-sref="projects.new" class="btn btn-raised btn-primary pull-left">New project</a>
  </div>

  <div class="pull-right">
    <div class="input-group pull-left" style="max-width: 225px; margin-right: 15px; margin-top: 12px;">
      <span class="input-group-addon"><i class="mdi-action-search"></i></span>
      <input type="text" placeholder="search" class="form-control" ng-model="index.search">
    </div>
    <div class="btn-group">
      <a class="btn" ng-repeat="status in index.statuses" ng-class="{ 'btn-primary': status.key == index.status, 'btn-default': status.key != index.status }" ng-click="index.setStatus(status.key)">{{ status.label }}</a>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="panel panel-default" style="border: 1px solid #ddd; box-shadow: none;" ng-repeat="project in index.projects | orderBy: 'name' | filter: { status: index.status, name: index.search }">
  <div class="panel-heading">
    {{ project.name }}
  </div>
  <div class="panel-body" style="padding-bottom: 5px;">
    <div>{{ project.description }}</div>
    <div class="pull-right">
      <a ui-sref="projects.edit({ id: project.id })" class="btn btn">Details</a>
    </div>
  </div>
</div>
