<form class="form-horizontal" ng-submit="new.save()">
  <fieldset>
    <legend>Basic</legend>

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" ng-model="new.project.name" placeholder="Name" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="8" id="inputDescription" ng-model="new.project.description" required></textarea>
        <span class="help-block">Detailed project description.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default" ui-sref="projects.index">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
