<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label">
    Date:
  </label>

  <div class="col-sm-9 input-group">
    <input type="text" class="form-control" style="text-align: center;"
           date-picker date="vm.term.date" min-date="today"
           ng-required="true">

      <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
  </div>
</div>

<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label">
    Capacity:
  </label>

  <div class="col-sm-9">
    <input class="form-control" type="number" style="text-align: center; margin-bottom: 10px;" name="capacity"
           ng-model="vm.term.capacity" required>
  </div>
</div>

<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label">
    Duration:
  </label>

  <div class="col-sm-9">
    <input type="number" class="form-control" style="text-align: center; margin-bottom: 10px;" name="duration"
           ng-model="vm.term.duration" required>
  </div>
</div>

<div class="form-horizontal form-group text-center">
  <label class="col-sm-3 control-label">
    Room booking:
  </label>

  <div class="togglebutton center-block">
    <label>
      <input type="checkbox" ng-model="vm.term.roomBooking">
    </label>
  </div>
</div>

<div ng-if="!vm.term.roomBooking" class="form-horizontal form-group">
  <label class="col-sm-3 control-label">
    Location:
  </label>

  <div class="col-sm-9">
    <input class="form-control" style="text-align: center; margin-bottom: 10px;" name="location"
           ng-model="vm.term.location" required>
  </div>
</div>
