<div id="sidebar" class="btn-group-vertical btn-block">
  <label class="btn btn-flat btn-default" ui-sref-active="sidebar-active-tab" ui-sref="events.members.content.dashboard">Dashboard</label>
  <label class="btn btn-flat btn-default" ui-sref-active="sidebar-active-tab" ui-sref="events.members.content.survey">Surveying</label>
  <label class="btn btn-flat btn-default" ui-sref-active="sidebar-active-tab" ui-sref="events.members.content.term-choosing">Choosing term</label>
</div>
