<div class="jumbotron">
    <div class="container">
        <h1 class="page-header">{{sectionDetails.section.name}}</h1>

        <p>{{sectionDetails.section.description}}</p>

        <p><a class="btn btn-primary btn-lg" ui-sref="sections.management({sectionId: sectionDetails.section.id })" role="button">[admin] Manage section</a></p>
    </div>
</div>

<div class="container">
    <img ng-src={{sectionDetails.section.logoResource}} alt="Image not available">
</div>
