<div class="jumbotron">
  <div class="container">

    <h2 style="display: inline-block;">Manage your events</h2>
    <!-- TODO: uncomment when archive events will be implemented
    <ul style="display: inline-block; list-style-type: none; padding-left: 5px;">
      <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ui-sref="events.eventmaster.announcement.configuration">Configuration</a></li>
        </ul>
      </li>
    </ul>
    -->
    <hr/>

    <div class="row">
      <div class="pull-left">
        <a ng-controller="NewEventController as ctrl" class="btn btn-primary btn-default" ng-click="ctrl.addEvent()" role="button">Create event &raquo;</a>
        <a ng-controller="AnnouncementPublishingController as publishingCtrl" class="btn btn-primary btn-default" ng-click="publishingCtrl.publishAnnouncement()" role="button">Publish message &raquo;</a>
      </div>
      <label class="btn btn-primary pull-right" ui-sref="events.eventmaster.announcement.configuration" btn-radio="'current'">Configuration</label>
      <!-- TODO: uncomment when archive events will be implemented
      <div class="btn-group pull-right">
        <label class="btn btn-primary" ng-model="header.eventsType" ui-sref="events.eventmaster" btn-radio="'current'">Current events</label>
        <label class="btn btn-primary" ng-model="header.eventsType" ui-sref="events.eventmaster.archive" btn-radio="'archive'" >Archive events</label>
      </div>
      -->
    </div>
  </div>

</div>
