<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>
        Enrollment Details
      </strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form ng-submit="vm.submit()" id="enrollmentForm">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Terms</h3>
        </div>
        <div class="panel-body">

          <div ng-repeat="details in vm.details">
            <knbit-events-term-enrollment-details details="details"></knbit-events-term-enrollment-details>
          </div>

        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="submit" form="enrollmentForm" class="btn btn-primary">Submit</button>
  </div>

</div>
