<div class="container">

    <h1 class="page-header">Manage roles</h1>

    <!--UPPER SEARCH AND ACTION BUTTON-->
    <div class="input-group input-group-md">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search ..." ng-model="manageRolesSearch"/>

        <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href ng-click="roleManager.createRole()">Create role from selected permissions</a></li>
                <li><a href ng-click="roleManager.updateRole()">Update role with selected permissions</a></li>
                <li><a href ng-click="roleManager.deleteRole()">Delete selected role</a></li>
                <li><a href ng-click="roleManager.createPermission()">Create permission</a></li>

            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <!--PERMISSIONS TABLE-->
        <div class="col-xs-3">
            <table st-table="permissionsToDisplay" st-watch-search-model="manageRolesSearch"
                   st-safe-src="roleManager.permissions" class="table table-striped table-condensed">
                <tr>
                    <th>
                        <st-row-select-all all="roleManager.permissions"></st-row-select-all>
                    </th>
                    <th st-sort="name">Permission</th>
                </tr>
                </thead>
                <tbody>
                <tr st-select-row="permission" st-select-mode="multiple" ng-repeat="permission in permissionsToDisplay">
                    <td>
                        <st-row-select-single ng-model="permission.isSelected"></st-row-select-single>
                    </td>
                    <td>{{permission.name}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td></td>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="7" st-displayed-pages="6"></div>
                    </td>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>

        <!--UPPER ROLES TABLE-->
        <div class="col-xs-9">
            <table st-table="upperRolesToDisplay" st-watch-search-model="manageRolesSearch"
                   st-safe-src="roleManager.upperRoles" class="table table-striped table-condensed">
                <tr>
                    <th></th>
                    <th st-sort="name">Role</th>
                    <th st-sort="formattedPermissions">Permissions</th>
                </tr>
                </thead>
                <tbody>
                <tr st-select-row="upperRole" st-select-mode="single" ng-repeat="upperRole in upperRolesToDisplay">
                    <td>
                        <st-row-select-single ng-model="upperRole.isSelected"></st-row-select-single>
                    </td>
                    <td>{{upperRole.name}}</td>
                    <td>{{upperRole.formattedPermissions}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2" class="text-center">
                        <div st-pagination="" st-items-by-page="6" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

    <h1 class="page-header">Assign roles to members</h1>

    <!--BOTTOM SEARCH AND ACTION BUTTON-->
    <div class="input-group input-group-md">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search ..." ng-model="assignRolesToMembersSearch"/>

        <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href ng-click="roleManager.assignRole()">Assign role to selected members</a></li>
                <li><a href ng-click="roleManager.revokeRole()">Revoke role from selected members</a></li>
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <!--BOTTOM ROLES TABLE-->
        <div class="col-xs-3">
            <table st-table="bottomRolesToDisplay" st-watch-search-model="assignRolesToMembersSearch"
                   st-safe-src="roleManager.bottomRoles" class="table table-striped table-condensed">
                <tr>
                    <th></th>
                    <th st-sort="name">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr st-select-row="bottomRole" st-select-mode="single" ng-repeat="bottomRole in bottomRolesToDisplay">
                    <td>
                        <st-row-select-single ng-model="bottomRole.isSelected"></st-row-select-single>
                    </td>
                    <td>{{bottomRole.name}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2" class="text-center">
                        <div st-pagination="" st-items-by-page="7" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>

        <!--MEMBERS TABLE-->
        <div class="col-xs-9">
            <table st-table="membersToDisplay" st-watch-search-model="assignRolesToMembersSearch"
                   st-safe-src="roleManager.members" class="table table-striped table-condensed">
                <tr>
                    <th>
                        <st-row-select-all all="roleManager.members"></st-row-select-all>
                    </th>
                    <th st-sort="firstName">First name</th>
                    <th st-sort="lastName">Last name</th>
                    <th st-sort="email">Email</th>
                    <th st-sort="roles">Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr st-select-row="member" st-select-mode="multiple" ng-repeat="member in membersToDisplay">
                    <td>
                        <st-row-select-single ng-model="member.isSelected"></st-row-select-single>
                    </td>
                    <td>{{member.firstName}}</td>
                    <td>{{member.lastName}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.roles}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td></td>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="7" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

</div>