<div class="container">

    <br>

    <div class="alert alert-danger" ng-show="sectionManagement.commandFailed">
        {{ sectionManagement.commandFailedMessage }}
    </div>
    <h3>Candidates to join {{sectionManagement.section.name}}: {{sectionManagement.candidates.length}}</h3>

    <div ng-show="sectionManagement.candidates.length > 0">

        <div class="input-group input-group-md">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search ..." ng-model="candidatesSearch"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href ng-click="sectionManagement.addSelectedCandidatesToSection()">Accept selected</a></li>
                    <li><a href ng-click="sectionManagement.removeSelectedCandidatesFromSection()">Remove selected</a>
                    </li>
                    <li><a href ng-click="sectionManagement.composeEmailToSelected(sectionManagement.candidates)">Send
                        email to selected</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <table st-table="candidatesToDisplay" st-watch-search-model="candidatesSearch"
               st-safe-src="sectionManagement.candidates" class="table table-striped">
            <tr>
                <th>
                    <st-row-select-all all="sectionManagement.candidates"></st-row-select-all>
                </th>
                <th st-sort="firstName">First name</th>
                <th st-sort="lastName">Last name</th>
                <th st-sort="email">Email</th>
                <th st-sort="startOfStudiesYear">Start of studies year</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="candidate" st-select-mode="multiple"
                ng-repeat="candidate in candidatesToDisplay">
                <td>
                    <st-row-select-single ng-model="candidate.isSelected"></st-row-select-single>
                </td>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.startOfStudiesYear}}</td>
            </tr>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="7" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
    <hr/>

    <h3>{{sectionManagement.section.name}}'s members: {{sectionManagement.members.length}}</h3>

    <div ng-show="sectionManagement.members.length > 0">
        <div class="input-group input-group-md">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search ..." ng-model="membersSearch"/>

            <div class="input-group-btn">
                <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href ng-click="sectionManagement.composeEmailToSelected(sectionManagement.members)">Send
                        email to selected</a>
                    </li>
                    <li><a href ng-click="sectionManagement.promoteSelectedMembersToSectionManager()">Promote
                        selected to section manager</a></li>
                    <li><a href ng-click="sectionManagement.removeSelectedMembersFromSection()">Remove selected</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <table st-table="membersToDisplay" st-watch-search-model="membersSearch"
               st-safe-src="sectionManagement.members" class="table table-striped">
            <tr>
                <th>
                    <st-row-select-all all="sectionManagement.members"></st-row-select-all>
                </th>
                <th st-sort="firstName">First name</th>
                <th st-sort="lastName">Last name</th>
                <th st-sort="email">Email</th>
                <th st-sort="sectionManager">Section manager</th>
                <th st-sort="startOfStudiesYear">Start of studies year</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="member" st-select-mode="multiple"
                ng-repeat="member in membersToDisplay">
                <td>
                    <st-row-select-single ng-model="member.isSelected"></st-row-select-single>
                </td>
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.email}}</td>
                <td>{{member.sectionManager}}</td>
                <td>{{member.startOfStudiesYear}}</td>
            </tr>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="9" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
    <hr/>

    <h3>Add other BIT members to {{sectionManagement.section.name}}:</h3>

    <div class="input-group input-group-md">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search ..." ng-model="otherBitMmbersSearch"/>

        <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-md dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href ng-click="sectionManagement.addOtherBitMembersToSection()">Add selected to section</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <table st-table="otherBitMembersToDisplay" st-watch-search-model="otherBitMmbersSearch"
           st-safe-src="sectionManagement.otherBitUsers" class="table table-striped">
        <tr>
            <th>
                <st-row-select-all all="sectionManagement.otherBitUsers"></st-row-select-all>
            </th>
            <th st-sort="firstName">First name</th>
            <th st-sort="lastName">Last name</th>
            <th st-sort="email">Email</th>
            <th st-sort="startOfStudiesYear">Start of studies year</th>
        </tr>
        </thead>
        <tbody>
        <tr st-select-row="otherBitMember" st-select-mode="multiple"
            ng-repeat="otherBitMember in otherBitMembersToDisplay">
            <td>
                <st-row-select-single ng-model="otherBitMember.isSelected"></st-row-select-single>
            </td>
            <td>{{otherBitMember.firstName}}</td>
            <td>{{otherBitMember.lastName}}</td>
            <td>{{otherBitMember.email}}</td>
            <td>{{otherBitMember.startOfStudiesYear}}</td>
        </tr>
        <tfoot>
        <tr>
            <td></td>
            <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="7" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
        </tbody>
    </table>
    <hr/>
</div>
