<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Survey</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-2">
      <p>
        <span>Voted up: </span>
        <span class="label label-success label-as-badge">{{vm.votedUp}}</span>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <span>Voted down: </span>
        <span class="label label-danger label-as-badge">{{vm.votedDown}}</span>
      </p>
    </div>
  </div>
</div>
