.label-as-badge {
  border-radius: 1em;
}

.form-group-with-margins {
  margin-top: 30px;
}

.padded-top {
  padding-top: 20px !important;
}

.padded-bottom {
  padding-bottom: 35px;
}

.with-error-font {
  color: #f44336;
}

.checkbox.has-error {
  color: #f44336;
}

.member-avatar {
  width: 54px;
  height: auto;
}
