<div class="checkmark-block">
  <i class="fa"
     ng-class="{
      'checkmark-info fa-check-circle'    : vm.type == 'POSITIVE',
      'checkmark-warning fa-times-circle' : vm.type == 'NEGATIVE',
      'fa-2x'                             : vm.size == 'LARGE'
     }">
  </i>
  <span class="checkmark-caption"
        ng-class="{
          'checkmark-info'    : vm.type == 'POSITIVE',
          'checkmark-warning' : vm.type == 'NEGATIVE'
        }">
    {{ vm.text }}
  </span>
</div>

