.checkmark-block {
  display: inline-table;
}

.checkmark-caption {
  padding-left: 5px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.checkmark-warning {
  color: #e74c3c;
}

.checkmark-info {
  color: #54AC4D;
}
