<knbit-events-member-empty-events-list
  ng-if="dashboard.emptyListMessage">
</knbit-events-member-empty-events-list>

<!-- Term & events container -->
<div ng-repeat="(date, events) in dashboard.events">

  <!-- Date(day) caption block -->
  <div class="dashboard-event-members__date-caption">{{ date }}</div>

  <!-- Event details -->
  <knbit-events-member-ready-event-preview
    ng-repeat="event in events"
    event="event">
  </knbit-events-member-ready-event-preview>

</div>
