.dashboard-event-members {

  &__block {
    margin: 0 0 0 50px;
  }

  &__date-caption {
    color: #aaa;
    text-shadow: #fff 1px 1px 0;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 8px;
  }

  &__hour-vote-block {
    float: left;
  }

  &__start-hour {
    font-size: 16px;
  }

  &__period {
    border-bottom: 1px solid #aaa;
    font-size: 11px;
    line-height: 16px;
    vertical-align: top;
  }

  &__event-name {
    font-size: 16px;
    font-weight: bold;
  }

  &__checkmark {
    display: block;
  }

  &__content {
    overflow: hidden;
    padding-left: 20px;
  }

}



