<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="home.about" role="button">About page &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div ui-view></div>

  <hr>

  <footer>
    <p>&copy; BIT Scientific Group 2015</p>
  </footer>
</div> <!-- /container -->
