<div class="panel panel-{{vm.color}}">
  <div class="panel-heading">
    <h3 class="panel-title">{{vm.caption}}</h3>
  </div>

  <div class="panel-body">
    <div ng-repeat="term in vm.terms">
      <div class="col-sm-3 col-md-3">
        <div class="panel">
          <div class="panel-body">
            <button type="button" ng-click="vm.removeCallback({ term: term })" class="close">×</button>

            <knbit-events-choosing-term-preview-term term="term">
            </knbit-events-choosing-term-preview-term>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

