<div class="container">

    <form class="form-horizontal">
        <div class="form-group" style="padding-top: 40px">
            <div class="alert alert-warning" role="alert" ng-show="login.error">
                <strong>Error!</strong> {{ login.errorMessage }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h1 class="page-header">Sign in</h1>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>

                <div class="col-sm-3">
                    <input name="email" type="email" class="form-control" ng-model="login.email" placeholder="Email"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>

                <div class="col-sm-3">
                    <input name="password" type="password" class="form-control" ng-model="login.password"
                           placeholder="Password"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-large btn-primary" ng-click="login.logIn()">Sign in</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-sm-3">
                    <p>No account yet?
                        <a ui-sref="members.register">Click here to register</a>.
                    </p>
                </div>
            </div>
        </div>


    </form>

</div>
