.semesters {
  @import "common/styles/colors";
  @import "nav/nav";
  @import "details/details";

  .ng-enter,
  .ng-leave {
    transition: opacity 0.5s ease;
  }

  .ng-enter,
  .ng-leave.ng-leave-active {
    opacity: 0;
  }

  .ng-leave,
  .ng-enter.ng-enter-active {
    opacity: 1;
  }
}
