<div class="well">
  <h4>{{vm.question.title}}</h4>

  <p>{{vm.question.description}}</p>

  <button class="btn btn-primary" ng-click="vm.showAnswers = !vm.showAnswers">
    <span ng-if="vm.showAnswers">Hide answers</span>
    <span ng-if="!vm.showAnswers">Show answers</span>
  </button>

  <div ng-show="vm.showAnswers">
    <knbit-events-survey-preview-text-answers ng-if="vm.textQuestion()"
                                              answers="vm.question.answers">
    </knbit-events-survey-preview-text-answers>

    <knbit-events-survey-preview-single-multiple-answers ng-if="vm.singleOrMultipleChoiceQuestion()"
                                                         answers="vm.question.answers">
    </knbit-events-survey-preview-single-multiple-answers>
  </div>

</div>
