<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label" for="questionTitle">
    Question title:
  </label>

  <div class="col-sm-9">
    <input class="form-control" style="text-align: center;" name="questionTitle" id="questionTitle"
           ng-model="vm.question.title" ng-required="true">
  </div>
</div>

<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label" for="questionDescription">
    Question description:
  </label>

  <div class="col-sm-9">
    <input class="form-control" style="text-align: center; margin-bottom: 10px;" name="questionDescription"
           id="questionDescription" ng-model="vm.question.description" ng-required="true">
  </div>
</div>

<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label">
    Question type:
  </label>

  <div class="col-sm-9">
    <div ng-repeat="questionType in vm.questionTypes" class="radio radio-primary">
      <label>
        <input type="radio" name="questionType{{vm.questionNumber}}"
               value="{{questionType.value}}" ng-model="vm.question.type"
               ng-change="vm.onQuestionTypeChanged()">
        {{questionType.name}}
      </label>
    </div>
  </div>
</div>

<div ng-if="vm.isQuestionChoosable()">
  <knbit-events-survey-answer-list answers="vm.question.answers"></knbit-events-survey-answer-list>
</div>
