.block_sections {
  margin-bottom: 6rem;

  // overrides for vendor carousel
  .owl-carousel {
    float: left;

    .owl-controls {
      margin-top: 0;
    }

    .owl-pagination {
      position: absolute;
      margin-top: 1rem;
      width: 100%;
    }

    .owl-buttons {
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 5rem;

        border-radius: 0;
        transition: all 0.5s ease;

        i {
          $icon-height: 5rem;

          position: absolute;
          left: 0;
          top: 50%;
          margin-top: - ($icon-height / 2);
          font-size: $icon-height;
          color: $color-lightGrey;

          @media screen and (min-width: 1200px) {
            color: $color-darkGrey;
          }
        }
      }

      .owl-prev {
        left: 1.5rem;
        background: linear-gradient(to right, $color-darkGrey, transparent);

        @media screen and (min-width: 1200px) {
          left: auto;
          right: 100%;
          background: transparent;
        }
      }

      .owl-next {
        right: 1.5rem;
        background: linear-gradient(to left, $color-darkGrey, transparent);

        @media screen and (min-width: 1200px) {
          right: auto;
          left: 100%;
          background: transparent;
        }
      }
    }
  }
}

.section {
  $desc-lineHeight: 2rem;
  $desc-lines: 6;

  $image-ratio: 1/1;
  $image-width: 70%;

  position: relative;
  border: 2px solid $color-lightGrey;
  padding: 2rem;
  text-align: justify;
  color: rgb(255, 255, 255);
  background-color: $color-section-default;

  &__logo-wrapper {
    position: relative;
    margin: 0 auto 2rem;
    height: 0;
    width: $image-width;
    padding-bottom: $image-ratio * $image-width;
    overflow: hidden;

    &__logo {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
    }
  }

  &__name,
  &__members {
    text-align: center;
  }

  &__name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  &__members {
    margin-bottom: 1rem;
  }

  &__name,
  .members__icon,
  .members__count {
    font-size: 2rem;
    vertical-align: middle;
  }

  &__desc {
    margin-bottom: 1rem;
    height: $desc-lines * $desc-lineHeight;
    line-height: $desc-lineHeight;
    overflow: hidden;
    text-align: justify;
  }

  &__read-more {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
}
