<div class="block block_sections row">
  <div class="col-md-12"><h2 class="block__header">Sections</h2></div>

  <div class="owl-carousel">
    <div class="col-xs-12" ng-class="section.className" ng-repeat="section in sections" ng-repeat-owl-carousel carousel-init="initCarousel">
      <div class="section">
        <div class="section__logo-wrapper"><img ng-src="{{section.logoUrl}}" alt="{{section.name}}"
                                                class="section__logo-wrapper__logo"/></div>
        <div class="section__name">{{section.name}}</div>
        <div class="section__members">
          <i class="members__icon mdi-action-perm-identity"></i>
          <span class="members__count">{{section.memberCount}}</span>
        </div>
        <div class="section__desc">{{section.description}}</div>
        <a ui-sref="sections.overview" class="section__read-more">Read more...</a>
      </div>
    </div>
  </div>
</div>
