<div class="form-horizontal form-group">
  <label class="col-sm-3 control-label" for="minimalInterestThreshold">
    Minimum votes amount:
  </label>

  <div class="col-sm-9">
    <input class="form-control" style="text-align: center;"
           name="minimalInterestThreshold"
           id="minimalInterestThreshold"
           ng-change="vm.onMinimalInterestThresholdChanged(vm.minimalInterestThreshold)"
           ng-model="vm.minimalInterestThreshold"
           required>
  </div>
</div>
