<div>
  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Set up Facebook configuration</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form class="form-horizontal" id="facebookForm" ng-submit="vm.submit()">
      <div class="form-group">
        <label for="name" class="col-sm-3 col-md-3 control-label">
          Name:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="name" id="name" ng-model="vm.configuration.name"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="appId" class="col-sm-3 col-md-3 control-label">
          App ID:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="appId" id="appId" ng-model="vm.configuration.appId"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="appSecret" class="col-sm-3 col-md-3 control-label">
          App Secret:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="appSecret" id="appSecret" ng-model="vm.configuration.appSecret"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox checkbox-primary col-sm-offset-3 col-md-offset-3">
          <label>
            <span>Default </span>

            <input type="checkbox"
                   name="defaultPublisher"
                   ng-model="vm.configuration.defaultPublisher">

          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">
      Cancel
    </button>

    <button type="submit" form="facebookForm" class="btn btn-primary">
      Submit
    </button>
  </div>
</div>
