<div>
  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Set up Google Group configuration</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form class="form-horizontal" id="googleGroupForm" ng-submit="vm.submit()">
      <div class="form-group">
        <label for="name" class="col-sm-3 col-md-3 control-label">
          Name:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="name" id="name" ng-model="vm.configuration.name"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-3 col-md-3 control-label">
          Username:
        </label>

        <div class="col-sm-8 col-sm-3">
          <input name="username" id="username" ng-model="vm.configuration.username"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-3 col-md-3 control-label">
          Password:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="password" id="password" type="password" ng-model="vm.configuration.password"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="host" class="col-sm-3 col-md-3 control-label">
          Host:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="host" id="host" ng-model="vm.configuration.host"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="googleGroupAddress" class="col-sm-3 col-md-3 control-label">
          Google group address:
        </label>

        <div class="col-sm-8 col-md-8">
          <input name="googleGroupAddress" id="googleGroupAddress" type="email"
                 ng-model="vm.configuration.googleGroupAddress"
                 class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox checkbox-primary col-sm-offset-3 col-md-offset-3">
          <label>
            <span>Default </span>

            <input type="checkbox"
                   name="defaultPublisher"
                   ng-model="vm.configuration.defaultPublisher">

          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">
      Cancel
    </button>

    <button type="submit" form="googleGroupForm" class="btn btn-primary">
      Submit
    </button>
  </div>
</div>
