<div class="container">
  <knbit-events-event-details event-name="{{ backlogPreview.event.name }}"
                              event-description="{{ backlogPreview.event.description }}"
                              event-type="{{ backlogPreview.event.eventType }}"
                              image-url="{{ backlogPreview.event.imageUrl }}"
                              section="backlogPreview.event.section">
  </knbit-events-event-details>
</div>
