<div id="knbit-timeline" class="container-fluid">
  <div has-permission="ADMIN" id="timeline__nav">
    <div class="btn-group btn-group-justified">
      <a ui-sref=".semesters.last" class="btn btn-default">Semesters</a>
      <a ui-sref=".reports" class="btn btn-default">Reports</a>
    </div>
  </div>

  <div id="timeline__content">
    <div ui-view></div>
  </div>
</div>
