<div class="container">

  <div class="panel panel-default">
    <div id="event-proposal-form" class="panel-body">

      <h1 id="event-proposal-form__header">Propose an event</h1>

      <br/>
      <p>
        If you want to propose an event of any kind,
        please do not hesitate to contact us and fill out form presented below.
      </p>

      <form id="event-proposal-form__body" ng-submit="ep.submit()" class="form">

        <div class="form-group">
          <label for="name">Name: </label>
          <input name="name" id="name" ng-model="ep.event.name" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="imageUrl">Image url: </label>
          <input name="imageUrl" type="url" id="imageUrl" ng-model="ep.event.imageUrl" class="form-control">
        </div>

        <div class="form-group">
          <label for="description">Description: </label>
          <textarea name="description" id="description" ng-model="ep.event.description"
                    rows=4 class="form-control" required>
          </textarea>
        </div>

        <div class="form-group">
          <label>Event Type: </label>

          <div ng-repeat="eventType in ep.eventTypes" class="radio radio-primary">
            <label>
              <input type="radio" name="eventType"
                     value="{{eventType.value}}" ng-model="ep.event.eventType">
              {{eventType.name}}
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Submit</button>
      </form>

    </div>

  </div>
</div>
