<form class="form-horizontal" ng-submit="form.save()" ng-if="form.application_form && form.projects">
  <fieldset>
    <legend>Basic Informations</legend>

    <div class="form-group">
      <label class="col-lg-2 control-label">First name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="form.application_form.user.first_name" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Last name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="form.application_form.user.last_name" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">E-mail address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="form.application_form.user.email" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Department name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="form.application_form.user.department_name" disabled>
      </div>
    </div>
  </fieldset>

  <fieldset style="margin-top: 20px;">
    <legend>Projects</legend>
    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">I would like to participate in the following projects:</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 10px;" ng-repeat="project in form.projects">
          <label>
            <input type="checkbox" ng-model="project.selected"> <span style="margin-left: 5px;">{{ project.name }}</span>
          </label>
          <p class="hint" style="margin-top: 5px;">{{ project.description }}</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">I would like to be a team leader in the projects:</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 10px;" ng-repeat="project in form.selectedProjects()">
          <label>
            <input type="checkbox" ng-model="project.team_leader"> <span style="margin-left: 5px;">{{ project.name }}</span>
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Other</legend>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Feedback regarding the inauguration</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="8" id="inputDescription" ng-model="form.application_form.inauguration_feedback"></textarea>
      </div>
    </div>

    <div class="form-group" style="margin-top: 30px;">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default" ui-sref="projects.index">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </fieldset>

</form>
