<form class="form-horizontal" ng-submit="setup.save()">

<fieldset>
  <legend>Basic Informations</legend>

  <div class="form-group">
    <label class="col-lg-2 control-label">First name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" ng-model="setup.application_form.user.first_name" disabled>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Last name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" ng-model="setup.application_form.user.last_name" disabled>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">E-mail address</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" ng-model="setup.application_form.user.email" disabled>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Department name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" ng-model="setup.application_form.user.department_name" disabled>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>
    Enrollment
    <small ng-if="!setup.editingProjects"><a class="btn btn-info btn-xs" ng-click="setup.editProjects()">edit</a></small>
  </legend>

  <div class="form-group" ng-if="!setup.editingProjects">
    <label class="col-lg-2 control-label">Projects</label>
    <div class="col-lg-10">
      <div class="checkbox" style="padding-top: 10px;" ng-repeat="enrollment in setup.application_form.enrollments">
        <label>
          <input type="checkbox" checked disabled>
          <span style="margin-left: 5px;">{{ enrollment.project.name }}</span>
          <small ng-if="enrollment.team_leader">(wanna be teamleader)</small>
        </label>
        <p class="hint" style="margin-top: 5px;">{{ enrollment.project.description }}</p>
      </div>
    </div>
  </div>

  <div ng-if="setup.editingProjects">
    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">I would like to participate in the following projects:</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 10px;" ng-repeat="project in setup.projects">
          <label>
            <input type="checkbox" ng-model="project.selected"> <span style="margin-left: 5px;">{{ project.name }}</span>
          </label>
          <p class="hint" style="margin-top: 5px;">{{ project.description }}</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">I would like to be a team leader in the projects:</label>
      <div class="col-lg-10">
        <div class="checkbox" style="padding-top: 10px;" ng-repeat="project in setup.selectedProjects()">
          <label>
            <input type="checkbox" ng-model="project.team_leader"> <span style="margin-left: 5px;">{{ project.name }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>
    One to one meeting time
    <small ng-if="!setup.editingMeetingTime && setup.application_form.meeting_time"><a class="btn btn-info btn-xs" ng-click="setup.editMeetingTime()">edit</a></small>
  </legend>

  <div ng-if="!setup.editingMeetingTime && setup.application_form.meeting_time">
    You have scheduled the meeting for
    <strong>
      {{ setup.application_form.meeting_time.start_time | date: 'dd.MM (EEEE), HH:mm' }}.
    </strong>
  </div>

  <div class="row" ng-if="setup.editingMeetingTime || !setup.application_form.meeting_time">
    <div ng-repeat="(date, time_slots) in setup.time_slots" class="col-md-3">
      <a class="btn btn-default">{{ date }}</a>
      <div>
        <div class="radio radio-success" ng-repeat="time_slot in time_slots | orderBy: 'start_time'" ng-init="current = setup.application_form.time_slot_id == time_slot.id">
          <label>
            <input type="radio" name="meeting_time" ng-value="time_slot.id" ng-model="setup.application_form.time_slot_id" ng-disabled="time_slot.application_form && !current">
            {{ time_slot.start_time | date: 'HH:mm' }}
            <small ng-if="time_slot.application_form && !current">(niedostępne)</small>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="margin-top: 30px;">
    <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-default" ui-sref="projects.index">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</fieldset>
</form>
