<div class="container">

  <knbit-events-event-details event-name="{{ vm.event.name }}"
                              event-description="{{ vm.event.description }}"
                              event-type="{{ vm.event.eventType }}"
                              image-url="{{ vm.event.imageUrl }}"
                              section="vm.event.section">
  </knbit-events-event-details>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Terms</h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="term in vm.event.terms">
        <knbit-events-term-preview term-details="term"></knbit-events-term-preview>
      </div>
    </div>
  </div>

</div>
