@import "../common/styles/colors";

.semester {
  @import "draft-bar/draft-bar";
  @import "stats/stat";
  @import "styles/member";
  @import "sections/section";
  @import "events/event";
  @import "projects/project";

  &__header {
    $semester__header__text-width: 360px;

    position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
    overflow: hidden;

    &__text {
      margin: auto;
      width: $semester__header__text-width;
      font-size: 3.5rem;
      letter-spacing: 2rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      height: 1px;
      width: 50%;
      background-color: $color-darkGrey;
    }

    &::before {
      left: - ($semester__header__text-width/2 + 20px);
    }

    &::after {
      right: - ($semester__header__text-width/2);
    }
  }

  .block {

    &__header {
      margin-top: 0;
      margin-bottom: 4rem;
      border-bottom: 1px solid $color-lightGrey;
      padding-bottom: 0.5rem;
    }

    &__see-more {
      display: block;
      border: 2px solid $color-darkGrey;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 4rem;
      width: (100%/3);
      min-width: 300px;
      padding: 2rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: 0.5rem;
      color: $color-darkGrey;
    }
  }

  &__loader {
    position: relative;
  }

  $sections: (
    'if': $color-if,
    'algo': $color-algo,
    'ai': $color-ai,
    'dotnet': $color-dotnet,
    'sfi': $color-sfi,
  );

  @each $name, $color in $sections {
    .section-#{$name} {
      &.event,
      &.project,
      &.section {
        border-color: $color;
      }

      .event__section,
      .project__section,
      .section {
        background-color: $color;
      }
    }
  }
}
