<div class="semester">
  <div class="semester__loader" >
    <loading-spinner ng-if="vm.semesterLoadingInProgress"></loading-spinner>
  </div>

  <div ng-if="vm.semesterLoadingSucceeded" class="semester__content">
    <semesters-details-draft-bar ng-if="vm.isDraft" semester-id="vm.semesterId"></semesters-details-draft-bar>

    <semesters-details-stats
      stats="vm.stats"></semesters-details-stats>

    <semesters-details-members
      members="vm.members"
      coins-count="vm.displayLimits.members"
      delay="3000"></semesters-details-members>

    <semesters-details-sections
      sections="vm.sections"></semesters-details-sections>

    <semesters-details-events
      events="vm.events"
      limit="vm.displayLimits.events"></semesters-details-events>

    <semesters-details-projects
      projects="vm.projects"
      limit="vm.displayLimits.projects"></semesters-details-projects>
  </div>
  <div ng-if="vm.semesterLoadingFailed">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Oh snap!</h3>
      </div>
      <div class="panel-body">
        Failed loading semester data from server. Please, try again later.
      </div>
    </div>
  </div>
</div>
