<div class="container-fluid" style="padding-top: 40px">
    <div ng-repeat="section in sectionsOverview.sectionsList | orderBy: 'name'">
        <div ng-class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 sections" ng-class="{ 'full': section.showText }">
                <div class="thumbnail" style="height: 100%">
                    <img ng-src="{{section.logoResource}}" alt="Image not available">

                    <div class="caption">
                        <h3>{{ section.name }}</h3>

                        <p>{{ section.description }}</p>
                        <a class="btn pull-right btn-default" role="button" ng-click="section.showText = true" ng-hide="section.showText">More...</a>
                        <a class="btn pull-right btn-default" role="button" ng-click="section.showText = false" ng-show="section.showText">Hide</a>

                        <div ng-switch on="section.userStatus">
                            <div ng-switch-when="NOT_IN_SECTION">
                                <a class="btn btn-primary" role="button" ng-click="sectionsOverview.sendRequestToJoin(section)">Join section</a>
                                <a class="btn btn-default btn-block" role="button" ui-sref="sections.management({sectionId: section.id })" has-permission="MANAGE_ALL_SECTIONS">Manage</a>
                            </div>
                            <div ng-switch-when="CANDIDATE">
                                <button type="button" class="btn btn-info">Request sent</button>
                                <a class="btn btn-default btn-block" role="button" ui-sref="sections.management({sectionId: section.id })" has-permission="MANAGE_ALL_SECTIONS">Manage</a>
                            </div>
                            <div ng-switch-when="MEMBER">
                                <button type="button" class="btn btn-success">Already joined</button>
                                <a class="btn btn-default btn-block" role="button" ui-sref="sections.management({sectionId: section.id })" has-permission="MANAGE_ALL_SECTIONS">Manage</a>
                            </div>
                            <div ng-switch-when="SECTION_MANAGER">
                                <a class="btn btn-success" role="button" ui-sref="sections.management({sectionId: section.id })">Manage</a>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="btn btn-warning" ui-sref="members.login">Log in to join</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
