<div id="member-header" class="jumbotron">

  <div class="container">

    <div id="nearby-event-preview">

      <div ng-if="header.shouldDisplayNextEvent()">
        <h4 id="next-event-title">Your Next Event</h4>

        <div class="calendar">
          <div class="calendar-header">{{header.headerData.nextEvent.start | date : "MMMM"}}</div>

          <div class="calendar-num-day">{{header.headerData.nextEvent.start | date : 'dd'}}</div>
        </div>

        <div id="event-preview-details">
          <p class="caption-light">{{ header.sectionOrDefault() }}</p>

          <p class="caption-bold"><em>{{header.headerData.nextEvent.name}}</em></p>

          <p class="caption-light">
            {{header.headerData.nextEvent.start | date : "EEEE, MMMM dd 'at' h:mm a"}}
          </p>
        </div>
      </div>

      <div ng-if="header.shouldDisplayNoEventsInfo()">
        <p class="caption-bold">Not enrolled!</p>

        <br/>

        <p class="caption-light">You are not enrolled for any upcoming event.</p>

        <p class="caption-light">Check below what we're planning for you!</p>
      </div>
    </div>

    <div id="events-summary">
      <div class="event-summary-item">
        <div class="circle-wrapper">{{header.headerData.upcomingEvents}}</div>
        <span class="event-summary-caption">Events nearby</span>
      </div>
      <div class="event-summary-item">
        <div class="circle-wrapper">{{header.headerData.surveyInProgress}}</div>
        <span class="event-summary-caption">Events under surveying</span>
      </div>
    </div>
  </div>
</div>
