#member-header {
  background: #536DFE;
}

#nearby-event-preview {
  background: #8C9EFF;
  float: left;
  width: 60%;
  padding: 20px;
  margin: 20px;
}

#next-event-title {
  color: white;
  font-weight: bold;
  margin-top: 0;
}

.caption-bold {
  color: white;
  font-weight: bold !important;
  margin: 0 !important;
}

.caption-light {
  color: white;
  font-size: 18px !important;
  margin: 0 !important;
}

.calendar {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  position: relative;
  background: #FFF;
}

.calendar-header {
  height: 20px;
  background: #e74c3c;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}

.calendar-num-day {
  height: 150px;
  font-size: 40px;
  color: #333;
  text-align: center;
}

#event-preview-details {
  margin-left: 0;
}

#events-summary {
  float: right;
  width: 35%;
  margin-top: 20px;
}

.circle-wrapper {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 7px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  display: inline-block;
  font-size: 32px;
}

.event-summary-item {
  padding: 8px;
  display: table;
  table-layout: fixed;
}

.event-summary-caption {
  padding-left: 15px;
  color: white;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle
}
