.event-wrapper {
  // TODO: tide up custom media queries and bootstrap grid classes
  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.event {

  $section-width: 50px;

  $member-size: 4rem;
  $member-fontSize: 1.2rem;
  $member-lineHeight: 1.4rem;

  position: relative;
  border: 2px solid $color-lightGrey;
  margin-bottom: 4rem;
  padding-left: $section-width;


  &__info,
  &__picture-outer-wrapper {
    float: right;
    width: 100%;
    padding: 2rem;
  }

  &__info {
    @media screen and (min-width: 992px) {
      width: 40%;
    }
  }

  &__section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $section-width;
    padding: 5px;
    font-size: 0;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .section__logo {
    height: auto;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &__name,
  &__desc,
  &__speakers,
  &__read-more {
    float: left;
    clear: left;

    width: 100%;
    margin-bottom: 1rem;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0.8rem;
    }
  }

  &__name {
    $name-fontSize: 2.5rem;
    $name-lineHeight: 3.5rem;
    $name-lines--medium: 2;
    $name-lines--large: 3;

    font-size: $name-fontSize;
    line-height: $name-lineHeight;
    height: $name-lineHeight * $name-lines--medium;
    overflow: hidden;

    @media screen and (min-width: 992px) {
      height: $name-lineHeight * $name-lines--large;
    }
  }

  &__speakers {
    height: $member-size + $member-lineHeight;
    text-align: center;
  }

  &__speaker {
    display: inline-block;;
    margin: 0 2rem;

    font-size: $member-fontSize;
    line-height: $member-lineHeight;

    .member__image {
      width: $member-size;
      height: $member-size;
      margin-bottom: 0;
    }
  }

  &__desc {
    $desc-fontSize: 1rem;
    $desc-lineHeight: 2rem;
    $desc-lines: 4;

    line-height: $desc-lineHeight;
    height: $desc-lineHeight * $desc-lines;
    overflow: hidden;
  }

  &__read-more {
    display: block;
    margin-bottom: 0;
    color: $color-darkGrey;
    font-weight: 600;
  }

  &__picture-outer-wrapper {
    @media screen and (min-width: 992px) {
      width: 60%;
    }
  }

  &__picture-inner-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
