<div class="block block_events row">
  <div class="col-md-12"><h2 class="block__header">Events</h2></div>
  <div class="col-xs-6 col-sm-6 col-md-12 event-wrapper" ng-repeat="event in events | limitTo:limit">
    <div class="event clearfix" ng-class="event.section.className">
      <div class="event__picture-outer-wrapper">
        <div class="event__picture-inner-wrapper">
          <img ng-src="{{event.pictureUrl}}" alt="" class="event__picture"/>
        </div>
      </div>
      <div class="event__info">
        <div class="event__section">
          <img ng-src="{{event.section.logoUrl}}" alt="{{event.section.name}}"
               class="section__logo"/>
        </div>
        <div class="event__name">{{event.title}}</div>
        <div class="event__speakers">
          <div class="event__speaker member" ng-repeat="speaker in event.speakers">
            <figure class="member__image">
              <img ng-src="{{speaker.photoUrl}}" alt=""/>
            </figure>
            <span class="member__name">{{speaker.name}} {{speaker.lastName}}</span>
          </div>
        </div>
        <div class="event__desc">{{event.description}}</div>
        <a ui-sref="events.eventmaster.backlog({eventId: event.eventId})" class="event__read-more">Read more...</a>
      </div>
    </div>

  </div>
  <div class="col-xs-12">
    <a ui-sref="events.members.content.dashboard" class="block__see-more">SEE MORE</a>
  </div>
</div>
