<div class="form-horizontal form-group">

  <label class="col-sm-3 control-label">
    Answers:
  </label>

  <div class="col-sm-9">
    <div class="input-group col-sm-12" ng-repeat="answer in vm.answers track by $index">
      <knbit-events-survey-answer answer="vm.answers[$index]"></knbit-events-survey-answer>

      <span ng-if="vm.answers.length > 2" class="input-group-addon">
        <button type="button" class="close" ng-click="vm.removeAnswer($index)">×</button>
      </span>
    </div>

    <a href="#" class="btn btn-default btn-sm col-sm-12" ng-click="vm.addEmptyAnswer()">
      <span class="glyphicon glyphicon-plus"></span>
      <span> Add answer</span>
    </a>
  </div>

</div>
