<div class="panel panel-success">

  <div class="panel-heading">
    <h3 class="panel-title">Terms</h3>
  </div>

  <div class="panel-body">
    <div ng-repeat="term in vm.terms" class="panel panel-default">
      <div ng-if="vm.terms.length > 1" style="padding-top: 10px; padding-right: 10px;">
        <button type="button" ng-click="vm.removeTerm($index)" class="close">×</button>
      </div>

      <div class="panel-body">
        <knbit-events-choosing-term-new-term-form term="term"></knbit-events-choosing-term-new-term-form>
      </div>
    </div>

    <a href="#" class="btn btn-default btn-sm col-md-12" ng-click="vm.addTerm()">
      <span class="glyphicon glyphicon-plus"></span>

      <span> Add term</span>
    </a>
  </div>
</div>
