<div id="outsider-header" class="jumbotron">

  <div class="container">

    <div id="outsider-header__container" class="text-center">

      <i class="fa fa-sign-in fa-5x"></i>
      <p><a style="color: #333333;" ui-sref="events.members.content.dashboard">Sign in</a> to see all upcoming events and more..</p>

    </div>

  </div>
</div>
