<div class="container">

    <form>
        <h1 class="page-header">Membership Declaration</h1>

        <div class="alert alert-danger" ng-show="register.registrationFailed">
            {{ register.registrationFailedMessage }}
        </div>

        <div ng-hide="register.registrationFinishedWithSuccess">
            <formly-form model="register.form" fields="register.fields" form="registerForm">

                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="registerForm.$invalid"
                            ng-click="register.submitRegistrationForm()">Register
                    </button>
                </div>
            </formly-form>

        </div>
        <span ng-show="register.registrationFinishedWithSuccess"><p>Registration successful! Your declaration needs to be accepted by BIT authorities. Once it is accepted, you will be able to log in.</p></span>

    </form>

</div>
