<div class="container">
  <knbit-events-event-details event-name="{{vm.event.name}}"
                              event-description="{{vm.event.description}}"
                              event-type="{{vm.event.eventType}}"
                              image-url="{{vm.event.imageUrl}}"
                              section="vm.event.section">
  </knbit-events-event-details>

  <knbit-events-choosing-term-preview-terms terms="vm.event.terms"
                                            reservations="vm.event.reservations"
                                            remove-term-callback="vm.removeTerm(term)"
                                            cancel-reservation-callback="vm.cancelReservation(reservation)"
                                            new-term-callback="vm.addNewTerm(newTerm)">
  </knbit-events-choosing-term-preview-terms>
</div>
