
#notification-bar {
  top: 20px;
  right: 15px;
  position:relative;
}

#notification-container {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: auto;
  position: absolute;
  top: 30px;
  margin-left: -170px;
  width: 420px;
  z-index: -1;
  display: none;
  max-height: 500px;
}

#notification-link {
  color: rgba(255, 255, 255, 0.84);
  text-decoration: none;
}

#notification-title {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  color: #2D2430;
  background-color: #ffffff;
  width: 395px;
  border-bottom: 1px solid #dddddd;
}

#notifications-body {
  padding: 15px 0px 0px 0px !important;
  min-height:300px;
  color: #2D2430;
}

#notification-footer {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

#notification-count {
  padding: 1px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 12px;
  border-radius: 11px;
  position: absolute;
  margin-top: -10px;
  font-size: 11px;
}

#message-box {
  padding-top: 5px;
  padding-bottom: 10px;
}

.unread-message-box {
  background: #e0f7fa !important;
}

.message-title {
  white-space: nowrap;
  overflow: hidden;
}
