<div class="draft-bar">
  <div class="draft-bar__alert alert alert-warning">
    <p>This is only a <strong>draft</strong>, which means it's not visible for regular users. If you want to show it for public
    <button ng-click="semesterActivationInProgress ? null : activateSemester()" ng-disabled="semesterActivationInProgress || semesterActivationSucceeded" class="draft-bar__btn btn btn-primary">Activate</button> it.</p>
    <div ng-if="semesterActivationSucceeded">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Semester activated properly!</h3>
        </div>
      </div>
    </div>
    <div ng-if="semesterActivationFailed">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Semester activation failed - try again later.</h3>
        </div>
      </div>
    </div>

  </div>
</div>

