.draft-bar {
  text-align: center;

  &.fixed {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 1;

    @media (min-width: 1200px) {
      top: 60px;
    }

    &__alert {
      max-width: 1140px;
      margin: auto;
    }
  }
}
