.project {
  $section-height: 50px;
  $desc-lineHeight: 2rem;
  $desc-lines: 3;

  position: relative;
  border: 2px solid $color-lightGrey;
  margin-bottom: 4rem;
  padding: 2rem 2rem $section-height;
  text-align: justify;

  &__logo-wrapper {
    position: relative;
    margin-bottom: 2rem;
    height: 0;
    padding-bottom: (9/16) * 100%;
    overflow: hidden;

    &__logo {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }


  &__desc {
    margin-bottom: 0.5rem;
    height: $desc-lines * $desc-lineHeight;
    line-height: $desc-lineHeight;
    overflow: hidden;
  }

  &__read-more,
  &__members {
    margin-bottom: 1rem;
  }

  &__read-more {
    display: block;
    color: $color-darkGrey;
    font-weight: 600;
  }


  &__members {
    height: 3rem;
    text-align: center;
  }

  &__members {
    .members__icon,
    .members__count {
      vertical-align: middle;
      font-size: 2rem;
    }
  }

  &__section {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $section-height;
    width: 100%;
    padding: 5px;
    text-align: center;

    .section__logo {
      height: 100%;
      width: auto;
    }
  }
}
