<div class="block block_projects row">
  <div class="col-md-12"><h2 class="block__header">Projects</h2></div>
  <div class="col-xs-12 col-md-4" ng-class="$last ? 'col-sm-12' : 'col-sm-6'"
       ng-repeat="project in projects | limitTo:limit">
    <div class="project" ng-class="project.section.className">
      <div class="project__logo-wrapper"><img ng-src="{{project.logoUrl}}" alt=""
                                              class="project__logo-wrapper__logo"/></div>
      <div class="project__name">{{project.name}}</div>
      <div class="project__members">
        <i class="members__icon mdi-action-perm-identity"></i>
        <span class="members__count">{{project.participants.length}}</span>
      </div>
      <div class="project__desc">{{project.description}}</div>
      <a ui-sref="projects.index" class="project__read-more">Read more...</a>

      <div class="project__section">
        <img ng-src="{{project.section.logoUrl}}" alt="{{project.section.name}}"
             class="section__logo"/>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <a ui-sref="projects.index" class="block__see-more">SEE MORE</a>
  </div>
</div>
