<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    Add new configuration
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li ng-repeat="publisher in ctrl.publishersWithActions">
      <a ng-click="publisher.newConfiguration()">
        {{publisher.name}}
      </a>
    </li>
  </ul>
</div>
