.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: white;
  height: 100%;
}

#knbit-container {
  height: 100%;
  overflow-x: hidden;
}

div.sections {
  height: 610px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;

  &.full {
    height: auto;

    div.caption p {
      max-height: none;
    }
  }

  img {
    width: 334px;
    height: 334px;
    overflow: hidden;
  }

  div.caption p {
    max-height: 136px;
    overflow: hidden;
  }
}

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}
.st-selected > td {
  background-color: aliceblue;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
