<button class="btn btn-primary"
        ng-click="vm.addNewTerm()"
        ng-show="!vm.noTermOrReservationAssigned()">
  Add new term
</button>

<knbit-events-choosing-term-preview-no-terms-warning
  new-term-callback="vm.addNewTerm()"
  ng-show="vm.noTermOrReservationAssigned()">

</knbit-events-choosing-term-preview-no-terms-warning>

<knbit-events-choosing-term-preview-term-list terms="vm.terms"
                                              remove-callback="vm.removeTerm(term)"
                                              caption="Terms"
                                              color="primary"
                                              ng-if="vm.terms.length > 0">
</knbit-events-choosing-term-preview-term-list>

<knbit-events-choosing-term-preview-term-list terms="vm.reservations"
                                              remove-callback="vm.cancelReservation(term)"
                                              caption="Reservations"
                                              color="info" ng-if="vm.reservations.length > 0">
</knbit-events-choosing-term-preview-term-list>

