.member {
  margin-bottom: 4rem;
  text-align: center;

  &__image {
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    border: 2px solid $color-lightGrey;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    display: block;
  }
}
