<div class="panel panel-default" knbit-events-section-bar>
  <div class="panel-body">
    <img class="img-circle member-avatar"
         src="../../../../../../../assets/images/sample-member-avatar.png" alt="member picture">
    <h4 class="list-group-item-heading">{{ vm.attendee.firstName }} {{ vm.attendee.lastName }}</h4>
  </div>
</div>
