<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Event Details</h4>
  </div>
  <div class="panel-body">
    <div>
      <span class="label label-success">{{vm.eventType}}</span>
      <span class="label label-info text-uppercase">{{ vm.section.name ? vm.section.name : 'KNBIT' }}</span>
      <h2 style="margin-top: 10px;">{{vm.eventName}}</h2>

      <knbit-events-member-event-image
        url="{{ vm.imageUrl }}"
        ng-if="vm.imageUrl">
      </knbit-events-member-event-image>

      <p>{{vm.eventDescription}}</p>
    </div>

  </div>
</div>
