<div class="kanban-board-item thumbnail">

  <div class="pull-right">
    <i class="fa fa-times fa-lg" ng-click="item.cancel()"></i>
  </div>

  <div class="caption" ng-click="item.showDetails()">
    <h5>
      <strong>{{item.event.name}}</strong>
    </h5>

    <span class="label label-success">
      {{item.event.eventType}}
    </span>
  </div>
</div>
