<div class="block block_generals row">
  <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1">
    <div class="stat">
      <i class="mdi-action-perm-identity stat__icon"></i>
      <span class="stat__num">{{membersCount}}</span>
      <span class="stat__label">members</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2 ">
    <div class="stat">
      <i class="mdi-maps-local-library stat__icon"></i>
      <span class="stat__num">{{sectionsCount}}</span>
      <span class="stat__label">sections</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2 ">
    <div class="stat">
      <i class="mdi-notification-event-available stat__icon"></i>
      <span class="stat__num">{{eventsCount}}</span>
      <span class="stat__label">events</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-2 ">
    <div class="stat">
      <i class="mdi-image-brush stat__icon"></i>
      <span class="stat__num">{{projectsCount}}</span>
      <span class="stat__label">projects</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2 ">
    <div class="stat">
      <i class="mdi-communication-call-merge stat__icon"></i>
      <span class="stat__num">{{commitsCount}}</span>
      <span class="stat__label">commits</span>
    </div>
  </div>
</div>
