<!-- Event details -->
<div class="panel" knbit-events-section-bar="re.event.section">

  <div class="panel-body dashboard-event-members__block">

    <!-- Hour -->
    <div class="dashboard-event-members__hour-vote-block">
      <span class="dashboard-event-members__start-hour">{{ re.event.start | date : 'hh:mm' }}</span>
      <span class="dashboard-event-members__period">{{ re.event.start | date : 'a' }}</span>
      <knbit-events-member-checkmark
        ng-if="re.event.enrolled"
        text="Yes"
        type="POSITIVE"
        size="LARGE"
        class="dashboard-event-members__checkmark">
      </knbit-events-member-checkmark>
    </div>

    <!-- Content -->
    <div class="dashboard-event-members__content">

      <div class="clearfix event-clearfix">

        <p class="dashboard-event-members__event-name">
          <strong>{{ re.event.name }}</strong>
        </p>

        <knbit-events-member-event-image
          url="{{ re.event.imageUrl }}"
          ng-if="re.event.imageUrl">
        </knbit-events-member-event-image>

        <p class="event-no-bottom-spacing"><em>{{ re.event.description }}</em></p>

      </div>

      <div class="row">

        <div class="col-md-4">
          <knbit-events-member-term-details
            icon="mdi-maps-place"
            header="{{ re.event.location }}">

            <p ng-repeat="lecturer in re.event.lecturers" class="term-details__no-spacing">
              <em>{{ lecturer.name }}</em>
            </p>
          </knbit-events-member-term-details>
        </div>

        <div class="col-md-4">
          <knbit-events-member-term-details
            icon="mdi-notification-event-available"
            header="{{ re.event.start | date : 'EEEE, MMMM dd' }}">

            <em>{{ re.event.start | date : 'h:mm a' }} to {{ re.event.end | date : 'h:mm a' }}</em>
          </knbit-events-member-term-details>
        </div>

        <div class="col-md-4">
          <knbit-events-member-term-details
            icon="mdi-action-perm-identity"
            header="{{ re.membersEnrolled() }} members going">

            <em>{{ re.spotsLeft() }} spots left</em>
          </knbit-events-member-term-details>
        </div>

      </div>

    </div>

  </div>

</div>
