<div class="panel">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-5">

        <knbit-events-member-term-details
          icon="mdi-notification-event-available"
          header="{{ tm.term.date | date : 'EEEE, MMMM dd, yyyy' }}">

          <em>{{ tm.term.date | date : 'h:mm a' }} to {{ tm.computeEndDate() | date : 'h:mm a' }}</em>
        </knbit-events-member-term-details>

      </div>

      <div class="col-md-4">

        <knbit-events-member-term-details
          icon="mdi-maps-place"
          header="{{ tm.term.location }}">

          <p ng-repeat="lecturer in tm.term.lecturers" class="term-details__no-spacing">
            <em>{{ lecturer.name }}</em>
          </p>
        </knbit-events-member-term-details>

      </div>

      <div class="col-md-2">
        <button ng-if="!tm.alreadyEnrolled()"
                ng-click="!tm.canEnroll() || tm.enrollAndUpdate()"
                ng-disabled="!tm.canEnroll()"
                class="btn btn-success btn-raised">

          Enroll
        </button>

        <button ng-if="tm.alreadyEnrolled()"
                ng-click="tm.disenrollAndUpdate()"
                class="btn btn-danger btn-raised">

          Disenroll
        </button>
      </div>

    </div>
  </div>
</div>
