.term-details-block {
  display: inline-block;
}

.term-details-caption {
  float: right;
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}

.term-details-caption-title {
  font-weight: bold;
  margin-bottom:0;
  margin-top: 5px;
}

.term-details-caption-description {
  margin-bottom: 0;
}

.icon {
  display: inline-block;
  float: left;
  padding: 10px;
  background: #D5D5D5;
  border-radius: 3px;
}


