<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" auth-permission="ADMIN">
  <div class="container">
    <h2>Projects</h2>

    <div>
      <a class="btn btn-primary" ui-sref="projects.index">Projects</a>
      <a class="btn btn-primary" ui-sref="projects.enrollments.index">Enrollments</a>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 35px">
  <!-- Example row of columns -->
  <div class="{{ 'alert alert-dismissable alert-' + $root.notice.type }}" ng-if="$root.notice">
    <button type="button" class="close" ng-click="$root.notice = null">×</button>
    {{ $root.notice.message }}
  </div>
  <div class="well page" ui-view></div>

  <hr>
</div> <!-- /container -->
