@import "../common/styles/colors";

.semesters-nav {
  $nav-height: 50px;
  $timeline-height: 2px;
  $dot-width: 20px;
  $dot-height: 20px;


  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: $nav-height;
  padding: 0;
  list-style: none;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: ($nav-height - $timeline-height) / 2;
    display: block;
    height: $timeline-height;
    width: 100%;
    background-color: $color-darkGrey;
  }

  &::after {
    $arrow-height: 12px;
    $arrow-width: 12px;

    content: '';
    position: absolute;
    right: 0;
    top: ($nav-height - $arrow-height) / 2;
    display: block;
    width: $arrow-width;
    height: $arrow-height;
    background-color: transparent;
    border: 2px solid $color-darkGrey;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }

  &__item {
    position: relative;
    display: inline-block;
    margin-top: ($nav-height - $dot-height) / 2;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &__link {
    color: $color-darkGrey;
    cursor: pointer;

    &:hover,
    &.active {
      .semesters-nav__dot {
        background-color: $color-lightGrey;
      }
      .semesters-nav__name {
        color: $color-darkGrey;
      }
    }
  }

  &__dot {
    display: block;
    margin: auto;
    border: 2px solid $color-darkGrey;
    border-radius: 50%;
    height: $dot-height;
    width: $dot-width;
    background-color: rgb(255, 255, 255);
    transition: background-color ease 0.2s;
  }
}
