<div class="row">
  <div class="col-md-12">
    <ul class="semesters-nav">
      <li class="semesters-nav__item" ng-repeat="semester in vm.semesters">
        <a class="semesters-nav__link" ui-sref=".details({id: semester.semesterId})" ui-sref-active="active">
          <div class="semesters-nav__dot"></div>
          <span class="semesters-nav__name">{{semester.season}} {{semester.year}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

