<div class="member">
  <figure class="member__image">
    <img ng-src="{{member.photoUrl}}" alt=""/>
  </figure>
  <span class="member__name">{{member.name}} {{member.lastName}}</span>
  <span class="member__role">{{member.role}}</span>
</div>
