#kanban-board {
  min-height: 500px;
}

.kanban-board-column {
  padding-top: 10px;
  background-color: #f5f5f5;
  border: none;
  float: none;
  vertical-align: top;

  .thumbnail {
    height: auto;
    margin: 0;
  }

  .kanban-board-item {
    min-height: 100px;
    cursor: pointer;
    border-left: 5px #009688 solid;
  }
}

.equal-heights {
  overflow: hidden;
}

.equal-heights > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.kanban-board-column-reachable {
  background-color: #fff;
  border: 2px dashed green;
}

.kanban-board-column-unreachable {
  background-color: #fff;
  border: 2px dashed red;
}

.col-md-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
