<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Survey policy</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <div class="checkbox checkbox-primary">
        <label>
          <input type="checkbox"
                 name="timeBasedEndingPolicy"
                 ng-change="vm.clearEndOfSurveyingOrSetLastChosenDate()"
                 ng-model="vm.policies.timeBasedEndingPolicy">
          <span> End automatically</span>
        </label>
      </div>
    </div>

    <div ng-if="vm.policies.timeBasedEndingPolicy">
      <div class="padded-bottom">
        <knbit-events-survey-time-policy
          end-of-surveying="vm.chosenValuePlaceholders.endOfSurveying"
          on-end-of-surveying-changed="vm.onEndOfSurveyingChanged">
        </knbit-events-survey-time-policy>
      </div>
    </div>

    <div class=form-group">
      <div class="checkbox checkbox-primary">
        <label>
          <input type="checkbox"
                 name="memberVotesNotificationPolicy"
                 ng-change="vm.clearMinimalInterestThresholdOrSetLastInterest()"
                 ng-model="vm.policies.memberVotesNotificationPolicy">
          <span> Notification threshold</span>
        </label>
      </div>
    </div>

    <div ng-if="vm.policies.memberVotesNotificationPolicy">
      <div class="padded-bottom">
        <knbit-events-survey-member-votes-policy
          minimal-interest-threshold="vm.chosenValuePlaceholders.minimalInterestThreshold"
          on-minimal-interest-threshold-changed="vm.onMinimalInterestThresholdChanged">
        </knbit-events-survey-member-votes-policy>
      </div>
    </div>
  </div>
</div>
