<div class="report-generator">
  <div class="row">
    <form novalidate name="reportGeneratorForm" class="col-md-offset-2 col-md-8"
          ng-submit="isFormValid(reportGeneratorForm) && generateReport(startDate, endDate)">
      <div class="row">
        <div class="form-group col-md-4">
          <label>Start:</label>

          <div class="input-group">
            <input name="startDate" type="text" class="form-control" style="text-align: center"
                   date-picker
                   date="startDate"
                   max-date="{{endDate || null}}"
                   time="false"
                   format="YYYY-MM-DD"/>

            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>End:</label>

          <div class="input-group">
            <input name="endDate" type="text" class="form-control" style="text-align: center"
                   date-picker
                   date="endDate"
                   min-date="{{startDate}}"
                   time="false"
                   format="YYYY-MM-DD"
                   ng-disabled="!startDate"/>

            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </div>

        <div class="form-group col-md-4">
          <div>
            <button type="submit" class="btn btn-primary report-generator__btn-generate"
                    ng-disabled="!isFormValid(reportGeneratorForm)">Generate
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="report-generator__report well" ng-if="generatingSuccessed">{{report}}</div>
      <loading-spinner loading-ajax></loading-spinner>
      <div class="panel panel-danger" ng-if="generatingFailed">
        <div class="panel-heading">
          <h3 class="panel-title">Oh snap!</h3>
        </div>
        <div class="panel-body">
          Report generating failed.
        </div>
      </div>

    </div>
  </div>
</div>
