.report-generator {
  padding-top: 3rem;
  text-align: center;

  label {
    float: left;
    margin-top: 0.5rem;
  }

  &__btn-generate {
    margin: 0;
  }

  #reports &__report {
    margin-top: 3rem;
    padding: 6rem 8rem;
    text-align: justify;
    overflow-wrap: break-word;
    white-space: pre;
  }
}
