.stat {
  margin-bottom: 6rem;
  border: 2px solid $color-darkGrey;
  padding: 2rem;
  text-align: center;

  &__icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__num {
    display: block;
    margin-bottom: 2rem;
    line-height: 4rem;
    font-size: 4rem;
  }
  &__label {
    display: block;
    line-height: 2rem;
    font-size: 2rem;
  }
}
