<div ng-click="showAnswerQuestionPopup(message.payload)">
  <h4 class="list-group-item-heading message-title">Question: {{message.payload.topic}}</h4>
  <p class="list-group-item-text">
    <span class="label label-primary">{{message.payload.eventName}}</span>
    <span class="label label-success">{{message.payload.email}}</span>
  </p>
</div>
