<div ng-click="showEventProposalPopup(message.payload.eventProposalId)">
  <h4 class="list-group-item-heading message-title">Event proposal: {{message.payload.name}}</h4>
  <p class="list-group-item-text">
    <span class="label label-primary">{{message.payload.eventType}}</span>
  </p>
</div>
