<div>
  <h4 class="list-group-item-heading message-title">Room booking</h4>
  <p class="list-group-item-text">
    <span class="label label-primary">{{ message.payload.name }}</span>
    <span class="label label-success">FAILED</span>
  </p>
  <p class="list-group-item-text">
    <span class="label">Reason</span>
    {{ message.payload.cause }}
  </p>
</div>
