<div id="notification-bar" ng-controller="NotificationBarCtrl">
  <span ng-if="unreadMessagesCount!=0" id="notification-count">{{unreadMessagesCount}}</span>
  <a href="" id="notification-link" show-notifications>
    <span class="glyphicon glyphicon-envelope"></span> Notifications
  </a>
  <div id="notification-container">
    <!--todo: move it elsewhere-->
    <div ng-controller="EventProposalController"></div>
    <div ng-controller="AnswerQuestionController"></div>

    <div id="notification-title">Notifications</div>
    <div id="notifications-body">
      <div class="list-group">
        <a id="message-box" ng-click="ensureIsMarkedAsRead(message.id)"
            ng-repeat="message in messages" class="list-group-item"
            ng-class="(message.read === false) ? 'unread-message-box' : ''">

          <div ng-if="message.type==='EVENT_PROPOSED'"
               ng-include="'app/components/notification-bar/partial/event-proposal-message.html'">
          </div>
          <div ng-if="message.type==='MEMBER_ASKED_QUESTION'"
               ng-include="'app/components/notification-bar/partial/asked-question-message.html'">
          </div>
          <div ng-if="message.type==='RESERVATION_ACCEPTED'"
               ng-include="'app/components/notification-bar/partial/accepted-reservation-message.html'">
          </div>
          <div ng-if="message.type==='RESERVATION_REJECTED'"
               ng-include="'app/components/notification-bar/partial/rejected-reservation-message.html'">
          </div>
          <div ng-if="message.type==='RESERVATION_FAILED'"
               ng-include="'app/components/notification-bar/partial/failed-reservation-message.html'">
          </div>
          <div ng-if="message.type==='INTEREST_THRESHOLD_REACHED'"
               ng-include="'app/components/notification-bar/partial/surveying-threshold-reached-message.html'">
          </div>
          <div ng-if="message.type==='SURVEYING_TIME_EXCEEDED'"
               ng-include="'app/components/notification-bar/partial/surveying-has-ended-message.html'">
          </div>

        </a>
      </div>
    </div>
    <div id="notification-footer"><a href="" ng-click="requestMoreMessages()">See More</a></div>
  </div>

</div>
