<div>
  <h4 class="list-group-item-heading message-title">Room booking</h4>
  <p class="list-group-item-text">
    <span class="label label-primary">{{ message.payload.name }}</span>
    <span class="label label-warning">REJECTED</span>
  </p>
</div>
