<div>
  <h4 class="list-group-item-heading message-title">Surveying has ended!</h4>
  <p class="list-group-item-text">
    <span>Surveying interest for event <strong>{{message.payload.name}}</strong> has ended!</span>
    <span>Click <a ui-sref="events.eventmaster.survey({eventId: message.payload.eventId})">here</a> to see more.</span>
  </p>
</div>
