<div class="modal-header">
    <h2 class="modal-title">Create Permission</h2>
</div>
<br>
<div class="modal-body">
    <formly-form model="createPermission.form" fields="createPermission.fields" form="createPermissionForm"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="createPermission.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="createPermission.createPermission()"
            ng-disabled="createPermissionForm.$invalid || createPermission.permissions.length == 0">Create
    </button>
</div>
