<div>

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Add New Event</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form id="newEventForm" ng-submit="vm.submit()" class="form">

      <div class="form-group">
        <label for="name">Name: </label>
        <input name="name" id="name" ng-model="vm.event.name" class="form-control" required="true">
      </div>

      <div class="form-group">
        <label for="imageUrl">Image url: </label>
        <input name="imageUrl" type="url" id="imageUrl" ng-model="vm.event.imageUrl" class="form-control">
      </div>

      <div class="form-group">
        <label for="description">Description: </label>
        <textarea name="description" id="description" ng-model="vm.event.description"
                  rows=4 class="form-control" required="true">
        </textarea>
      </div>

      <div class="form-group">
        <label>Event Type: </label>

        <div ng-repeat="eventType in vm.eventTypes" class="radio radio-primary">
          <label>
            <input type="radio" name="eventType"
                   value="{{eventType.value}}" ng-model="vm.event.eventType">
            {{eventType.name}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Section: </label>
        <button type="button"
                class="btn btn-default"
                style="padding: 8px 20px; margin: 0;"
                placement="auto bottom-left"
                ng-model="vm.event.section"
                data-html="1"
                bs-options="section.value as section.label for section in vm.sections" bs-select>
        </button>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" type="reset" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" form="newEventForm">Submit</button>
  </div>

</div>

