<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Add new term</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form id="new-term-form" ng-submit="vm.submit()">
      <knbit-events-choosing-term-new-term-form term="vm.term"></knbit-events-choosing-term-new-term-form>
    </form>

    <div class="modal-footer">
      <button type="reset" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" form="new-term-form" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
