<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>
        Survey Interest Details
      </strong>
    </h3>
  </div>

  <div class="modal-body padded-top">
    <form ng-submit="vm.submit()" id="surveyInterestForm">
      <knbit-events-survey-policies end-of-surveying="vm.survey.endOfSurveying"
                                    minimal-interest-threshold="vm.survey.minimalInterestThreshold">
      </knbit-events-survey-policies>

      <knbit-events-survey-questionnaire questions="vm.survey.questions">
      </knbit-events-survey-questionnaire>
    </form>
  </div>

  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="submit" form="surveyInterestForm" class="btn btn-primary">Submit</button>
  </div>

</div>
