.term-details {

  &__block {
    display: flex;
    display: -webkit-flex;
  }

  &__caption {
    padding-left: 10px;
    overflow: hidden;
  }

  &__caption-title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom:0;
    margin-top: 5px;
  }

  &__caption-description {
    margin-bottom: 0;
    font-size: 13px;
  }

  &__icon {
    float: left;
    padding: 10px;
    background: #D5D5D5;
    border-radius: 3px;
  }

  &__no-spacing {
    padding: 0;
    margin: 0;
  }

}
