<div class="term-details__block">
  <div class="term-details__icon">
    <span class="{{ vm.icon }}"></span>
  </div>
  <div class="term-details__caption">
    <p class="term-details__caption-title">
      {{ vm.header }}
    </p>
    <p class="term-details__caption-description">
      <ng-transclude></ng-transclude>
    </p>
  </div>
</div>
