<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Questionnaire</h3>
  </div>

  <div class="panel-body">
    <div class="container-fluid">
      <div ng-repeat="question in vm.questions">
        <knbit-events-survey-preview-question question="question"></knbit-events-survey-preview-question>
      </div>
    </div>
  </div>
</div>
