<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Questionnaire</h3>
  </div>

  <div class="panel-body">
    <div ng-repeat="question in vm.questions track by $index">
      <div class="panel panel-default">
        <div style="padding-top: 10px; padding-right: 10px;">
          <button type="button" class="close" ng-click="vm.removeQuestion($index)">×</button>
        </div>

        <div class="panel-body">
          <knbit-events-survey-question question-number="{{$index}}"
                                        question="question">
          </knbit-events-survey-question>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn-default btn-sm col-md-12" ng-click="vm.addNewQuestion()">
      <span class="glyphicon glyphicon-plus"></span>
      <span> Add question</span>
    </a>
  </div>
</div>
