<div class="block block_members row">
  <div class="col-md-12"><h2 class="block__header">Members</h2></div>

  <div class="col-xs-6 col-sm-4 col-md-3"ng-repeat="coin in coins track by $index">
    <semesters-details-members-coin member="coin.member" transition="600"></semesters-details-members-coin>
  </div>
</div>

