<div>
  <div ng-repeat="answer in vm.answers">
    <blockquote>
      <span>{{answer.value}} </span>
      <span class="label label-info label-as-badge">{{answer.answered}}</span>
    </blockquote>
  </div>
</div>
