<div class="container-fluid">

  <div id="kanban-board" class="row equal-heights">
    <!--todo: that's fucking awful-->
    <div ng-controller="SurveyInterestController"></div>
    <div ng-controller="ChoosingTermController"></div>
    <div ng-controller="EnrollmentController"></div>
    <div ng-controller="ReadyEventController"></div>

    <div class="col-md-5ths panel panel-primary kanban-board-column" id="{{column}}"
         kanban-board-drop="column" ng-repeat="column in kanban.columns">

      <div class="panel-heading" style="margin-bottom: 10px;">
        <h3 class="panel-title">{{kanban.columnDescription(column)}}</h3>
      </div>

      <kanban-board-item ng-repeat="event in kanban.boardData[column] track by event.eventId"
                         item="event"
                         on-show-details="kanban.moveToDetailedView(event.eventId, column)"
                         on-cancel="kanban.cancelEvent(event.eventId, column)"
                         draggable="true"
                         kanban-board-dragg="event">
      </kanban-board-item>

    </div>

  </div>
</div>
