.feeds-container {
  margin-top: 4rem;
}

.feeds__header {
  position: relative;
  margin-top: 0;
  text-align: center;

  hr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  span {
    position: relative;
    padding: 0 1.5rem;
    background-color: white;
  }
}

.feeds__list {
  margin: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.feeds__more {
  display: block;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.feed {
  &__date,
  &__message {
    float: left;
    display: block;
  }

  &__date {
    margin-right: 1rem;
  }
}
