<a href= class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a ui-sref="members.password-change">Change password</a></li>
  <li><a ui-sref="members.manage-users" has-permission="MANAGE_USERS">Manage users</a></li></span>
  <li><a ui-sref="members.manage-roles" has-permission="MANAGE_ROLES">Manage roles</a></li></span>
  <li><a ui-sref="sections.create" has-permission="MANAGE_ALL_SECTIONS">Create section</a></li></span>
  <li role="separator" class="divider"></li>
  <li><a href="" ng-click="logOut()">Sign out</a></li>
</ul>
