<div>
  <knbit-events-choosing-term-preview-term term="tpp.term" display-capacity="false"></knbit-events-choosing-term-preview-term>
    <p>{{ tpp.getLecturers() }}</p>
  </br>
  <p>{{ tpp.getParticipantsAmount() }}/{{ tpp.term.limit }}</p>

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ tpp.progress() }}"
         aria-valuemin="0" aria-valuemax="100" ng-style="tpp.progressBarStyle()">
    </div>
  </div>
</div>
