<div class="container">
  <knbit-events-event-details event-name="{{vm.survey.name}}"
                              event-description="{{vm.survey.description}}"
                              event-type="{{vm.survey.eventType}}"
                              image-url="{{ vm.survey.imageUrl }}"
                              section="vm.survey.section">
  </knbit-events-event-details>

  <knbit-event-survey-preview-statistics voted-up="{{vm.survey.votedUp}}"
                                         voted-down="{{vm.survey.votedDown}}">
  </knbit-event-survey-preview-statistics>

  <knbit-events-survey-preview-questionnaire ng-if="vm.surveyHasQuestionnaire()"
                                             questions="vm.survey.questions">
  </knbit-events-survey-preview-questionnaire>
</div>
