<div class="feeds-container well">
  <h2 class="feeds__header">
    <hr/>
    <span>What's going on in KNBIT?</span>
  </h2>
  <div class="feeds__list">
    <div class="feed clearfix" ng-repeat="feed in feeds">
      <strong class="feed__date">{{feed.occurrenceDate}}:</strong>
      <span class="feed__message">{{feed.message}}</span>
    </div>
  </div>
  <button class="feeds__more btn btn-default btn-raised" ng-click="showMoreFeeds()" ng-hide="allFeedsShown">Show more</button>
</div>
