<knbit-events-member-empty-events-list
  ng-if="survey.emptyListMessage">
</knbit-events-member-empty-events-list>

<div id="event_{{event.eventId}}" ng-repeat="event in survey.events">
  <knbit-events-member-event-under-survey event="event" on-vote-requested="survey.vote(eventId, vote)">

  </knbit-events-member-event-under-survey>
</div>
