<div class="modal-header">
    <h1 class="modal-title">Compose email to {{composeEmail.receiversCount}} receivers</h1>
</div>
<br>
<div class="modal-body">
    <formly-form model="composeEmail.form" fields="composeEmail.fields" form="composeEmailForm"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="composeEmail.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="composeEmail.sendEmail()"
            ng-disabled="composeEmailForm.$invalid || composeEmail.receiversCount == 0">Send email
    </button>
</div>
