<div>

  <div class="modal-header">
    <h3 class="modal-title">
      <strong>Publish New Announcement</strong>
    </h3>
  </div>

  <div class="modal-body padded-top">

    <div>
      <form class="form" id="announcementForm" ng-submit="vm.publishAnnouncement()">

        <div class="form-group">
          <label for="announcementTitle">Title: </label>
          <input id="announcementTitle" name="title" class="form-control" ng-model="vm.announcement.title" required="true">
        </div>

        <div class="form-group">
          <label for="announcementContent">Message: </label>
          <textarea id="announcementContent" name="content" class="form-control" ng-model="vm.announcement.content"
                    maxlength="140" required="true">
          </textarea>
        </div>

        <div class="form-group">
          <label for="announcementImageUrl">Image URL: </label>
          <input type="url" name="url" id="announcementImageUrl" class="form-control" ng-model="vm.announcement.imageUrl"
                 ng-required="false">
        </div>

        <div class="form-group">
          <label>Publish on: </label>

          <div style="margin-top: 20px">
            <ui-select multiple
                       ng-model="vm.announcement.publishers"
                       theme="bootstrap"
                       close-on-select="false"
                       title="Select configuration to publish announcement" on-select="callback()">

              <ui-select-match placeholder="Select configuration">
                {{$item.name}}
              </ui-select-match>
              <ui-select-choices repeat="publisher in vm.availablePublishers | filter: $select.search">
                {{publisher.name}}
              </ui-select-choices>
            </ui-select>
          </div>

          <div style="margin-top: 20px">
            <p>
              <em>If you don't specify any publisher configuration, default ones will be chosen.</em>
            </p>
          </div>
        </div>

      </form>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" type="reset" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" form="announcementForm">Publish</button>
  </div>

</div>

