<div class="modal-header">
    <h2 class="modal-title">Create role from selected permissions</h2>
</div>
<br>
<div class="modal-body">
    <label>Selected permissions: </label>
    <textarea rows="3" class="form-control" ng-readonly="true" ng-model="createRole.permissionsFormatted"></textarea>
    <br/>
    <formly-form model="createRole.form" fields="createRole.fields" form="createRoleForm"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="createRole.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="createRole.createRole()"
            ng-disabled="createRoleForm.$invalid || createRole.permissions.length == 0">Create
    </button>
</div>
